Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] hr_homeworking/saas~16.5.1.0: redesign employee kanban card
  migrations/hr_homeworking/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale_timesheet/saas~16.5: add `billing_type` field in project
  migrations/sale_timesheet/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale_renting/saas~16.5: merge with sale_temporal
  migrations/base/saas~16.5.1.3/pre-10-modules.py
  migrations/sale_renting/saas~16.5.1.0/pre-10-migrate.py
  migrations/sale_renting/saas~16.5.1.0/pre-20-migrate.py
  migrations/sale_renting/saas~16.5.1.0/pre-30-migrate.py
  migrations/sale_subscription/saas~16.5.1.1/post-migrate.py
  migrations/sale_subscription/saas~16.5.1.1/pre-migrate.py
  migrations/sale_temporal/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~16.3: convert SET_FORMATTING commands
  migrations/spreadsheet_edition/saas~16.3.1.0/pre-migrate-set-formatting-change.py
  migrations/spreadsheet_edition/saas~16.4.1.0/pre-migrate-set-formatting-change.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_set_formatting_change.py
Due: no-license-comment, bad-import-000

[IMP] hr_appraisal_survey/saas~16.5: Backport cleanup
  migrations/hr_appraisal_survey/saas~16.5.1.2/pre-migrate.py
Due: no-license-comment

[IMP] stock/saas~16.5: quantity refactoring
  migrations/repair/saas~16.4.1.0/pre-migrate.py
  migrations/repair/tests/test_16_4_repair_refactor.py
  migrations/stock/saas~16.5.1.1/end-migrate.py
  migrations/stock/saas~16.5.1.1/pre-migrate.py
  migrations/stock_barcode/saas~16.5.1.0/pre-migrate.py
  migrations/stock_picking_batch/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] test_mock_crawl/tests: incorporate new TableKind
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[IMP] analytic/saas~16.5: allow cross analytics
  migrations/account/saas~16.5.1.2/pre-migrate.py
  migrations/analytic/16.0.1.1/pre-migrate.py
  migrations/analytic/saas~16.5.1.1/pre-migrate.py
  migrations/project/saas~16.5.1.3/pre-migrate.py
Due: no-license-comment

[FIX] {mail,base_setup}/saas~16.5: remove field if mail not installed
  migrations/base_setup/saas~16.5.1.0/pre-migrate.py
  migrations/mail/saas~16.5.1.15/pre-migrate.py
Due: no-license-comment

[IMP] sale_subscription_stock/saas~16.5.1.0: inherit portal view
  migrations/sale_subscription_stock/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] sale_subscription/saas~16.5.1.1: inherit portal view from sales
  migrations/sale_subscription/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] sale(_stock)/saas~16.5: move product catalog
  migrations/product/saas~16.5.1.2/pre-migrate.py
  migrations/stock/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] website_studio/saas~16.5,*: remove unused view
  migrations/website_studio/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] stock/saas~16.5: product label layout base on move
  migrations/stock/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] util/modules: remove server acts after crons
  migrations/util/modules.py
Due: no-license-comment

[FIX] base_automation/0.0.0
  migrations/base_automation/0.0.0/pre-fix-missing-xmlids.py
Due: no-license-comment, bad-import-000

[FIX] */saas~16.5: correct module versions
  migrations/microsoft_calendar/saas~16.5.1.0/pre-migrate.py
  migrations/sale_subscription_stock/saas~16.5.1.0/pre-migrate.py
  migrations/website_sale_picking/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[chore] hr_expense/saas~16.5: format script
  migrations/hr_expense/saas~16.5.2.0/pre-migrate.py
Due: no-license-comment

[FIX] master-pos-blackbox-be,pos_l10n_se/saas~16.5: update certification
  migrations/pos_blackbox_be/saas~16.5.1.0/pre-migrate.py
  migrations/pos_l10n_se/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_ke_hr_payroll/16.0: add missing upgrade script
  migrations/l10n_ke_hr_payroll/0.0.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] l10n_ke_hr_payroll/17.0: rename field
  migrations/l10n_ke_hr_payroll/17.0.1.0/pre-migrate.py
Due: no-license-comment

[FIX] util/records: skip wrong views in `edit_view`
  migrations/util/domains.py
Due: no-license-comment

[FIX] util/records: do not fail on extra encoded CR char
  migrations/util/records.py
Due: no-license-comment

[FIX] l10n_ro_reports/17.0: add missing upgrade script
  migrations/l10n_ro_reports/17.0.1.0/pre-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[FIX] tools/generate-inherit.py: handle Odoo 17
  tools/generate-inherit.py
Due: no-license-comment

[chore] regenerate util/_inherit.py
  migrations/util/_inherit.py
Due: no-license-comment

[chore] lint tools/generate-inherit.py
  tools/generate-inherit.py
Due: no-license-comment

[IMP] project/saas~17.1: refactor personal stages
  migrations/project/saas~17.1.1.3/pre-migrate.py
Due: no-license-comment

[IMP] website_{event,event_sale}/17.0: event redesign
  migrations/event_booth/17.0.1.1/post-migrate.py
  migrations/website_event/17.0.1.4/pre-migration.py
  migrations/website_event_sale/17.0.1.0/pre-migration.py
Due: no-license-comment

[FIX] base/0.0.0 : Check if failing field was removed in current view
  migrations/base/0.0.0/end-test-fix-views.py
  migrations/base/0.0.0/pre-models-ir_ui_view.py
  migrations/base/tests/test_fix_views.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0 : check for button node in missing group pattern
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] account_reports/16.0: Update `sum_if_(pos|neg)_groupby` domains
  migrations/account_reports/16.0.1.0/end-10-migrate-financial-reports.py
  migrations/account_reports/16.0.1.0/pre-10-migrate-financial-reports.py
  migrations/account_reports/tests/__init__.py
  migrations/account_reports/tests/test_16_reportalypse.py
Due: no-license-comment, bad-import-000

[chore] account_reports/16.0: Remove temporary column at the right time
  migrations/account_reports/16.0.1.0/end-10-migrate-financial-reports.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~16.5.1.0: drag and drop CFs
  migrations/documents_spreadsheet/tests/__init__.py
  migrations/documents_spreadsheet/tests/test_move_conditional_format_command_change.py
  migrations/spreadsheet_edition/saas~16.5.1.0/pre-migrate-move-conditional-format.py
Due: no-license-comment, bad-import-000

[IMP] util/records.py: optimize update_record_from_xml's recursive mode
  migrations/util/records.py
Due: no-license-comment

[FIX] util.remove_field: keep field info
  migrations/util/fields.py
Due: no-license-comment

[FIX] util/modules.py: set module category at auto-discovery
  migrations/util/modules.py
Due: no-license-comment

[IMP] util/modules.py: add option to not install `auto_install` modules
  migrations/util/modules.py
Due: no-license-comment

[FIX] survey/7.saas~4.2.0: SleepyDeveloperError
  migrations/survey/7.saas~4.2.0/post-60-update_model.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
