Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message
    - id: gitlint-ci
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message

  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
    - id: ruff
      name: Check code with Ruff, apply automatic fixes
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
      name: Format code with Ruff automatically
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[IMP] mail/saas~18.1: support sub thread in group
  migrations/mail/saas~18.1.1.18/post-migrate.py
Due: no-license-comment

[FIX] mail/saas~15.2: Fix mail template
  migrations/mail/saas~15.2.1.7/pre-migrate.py
Due: no-license-comment

[FIX] website_forum/18.0: force update of kanban arch
  migrations/website_forum/18.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] documents/saas~17.5: robustify the share create activity migration
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[FIX] l10n_{es,mn,ph}/*: move try_loading to end scripts
  migrations/l10n_es/saas~16.5.5.2/end-migrate.py
  migrations/l10n_mn/saas~16.5.1.1/end-migrate.py
  migrations/l10n_ph/saas~17.5.1.1/end-migrate.py
Due: no-license-comment

[IMP] repair/saas~17.5: add stock.rule
  migrations/repair/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_in_reports_gstr/saas~18.1.1.0: rectify gstr2b_status field
  migrations/l10n_in_reports_gstr/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_mx_edi_stock_extended_30/saas~16.4: remove field
  migrations/l10n_mx_edi_stock_extended_30/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] *: explicitly use {parallel_filter} in query using `OR` keyword
  migrations/account/9.0.1.1/pre-20-period.py
  migrations/account/saas~12.4.1.1/pre-30-account-pocalypse.py
  migrations/account/saas~13.2.1.1/pre-migrate.py
  migrations/account/saas~13.4.1.1/pre-10-payment-refactoring.py
  migrations/account/saas~14.1.1.1/post-migrate.py
  migrations/account/saas~14.3.1.1/pre-10.py
  migrations/account_asset/16.0.1.0/pre-migrate.py
  migrations/base/0.0.0/pre-clean-transients.py
  migrations/base/saas~11.5.1.3/pre-20-user_system.py
  migrations/crm/saas~12.4.1.0/post-migrate.py
  migrations/fleet/saas~14.1.0.1/pre-migrate.py
  migrations/hr_payroll/saas~16.5.1.0/post-migrate.py
  migrations/hr_recruitment_extract/saas~16.1.1.0/pre-migrate.py
  migrations/industry_fsm/saas~16.5.1.0/pre-migrate.py
  migrations/l10n_id_efaktur/saas~17.5.1.0/pre-migrate.py
  migrations/l10n_mx_edi/saas~13.5.0.2/pre-10-mx-refactoring.py
  migrations/l10n_mx_edi/saas~16.4.0.3/post-migrate.py
  migrations/l10n_mx_edi/saas~17.1.0.3/post-migrate.py
  migrations/mrp/16.0.2.0/pre-migrate.py
  migrations/mrp/saas~16.2.2.0/pre-migrate.py
  migrations/payment/saas~14.4.2.0/end-migrate.py
  migrations/project_timesheet_forecast/saas~12.5.1.0/pre-migrate.py
  migrations/repair/saas~16.4.1.0/pre-migrate.py
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
  migrations/sale_timesheet/saas~17.5.1.0/pre-migrate.py
  migrations/stock/11.0.1.1/pre-20-inventoryadjustment.py
  migrations/stock/saas~13.5.1.1/pre-migrate.py
  migrations/survey/saas~17.2.3.7/pre-migrate.py
  migrations/voip/saas~17.3.2.0/post-migrate.py
  migrations/website_slides/saas~16.3.2.7/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] account_online_payment/saas~18.1: removing unused field
  migrations/account_online_payment/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] website/saas~17.3: removed website_id for internal user only
  migrations/website/0.0.0/pre-migrate.py
  migrations/website/saas~17.3.1.0/pre-rm-website-internal-user.py
  migrations/website/tests/__init__.py
  migrations/website/tests/test_17_3_remove_website_internal_user.py
Due: no-license-comment, bad-import-000

[IMP] documents/saas~17.5: hide user specific folders for internal users
  migrations/documents/saas~17.5.1.4/end-migrate.py
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents/tests/test_17_5.py
  migrations/documents_hr_payroll/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] documents/saas~17.5: fix the propagation of the access
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[IMP] base/0.0.0: make a hard warning about new modules
  migrations/base/0.0.0/pre-models-ir_module_module.py
Due: no-license-comment, bad-import-000

[FIX] base/*: declare new modules in upgrade
  migrations/base/13.0.1.3/pre-10-modules.py
  migrations/base/14.0.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] base/18.0: remove saas_website* onboarding banner
  migrations/base/18.0.1.3/pre-saas_trial.py
Due: no-license-comment

[IMP] Github action and devcontainer
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/build.yml
Due: none

[FIX] base/saas~17.5,project_forecast/saas~17.1
  migrations/base/saas~17.5.1.3/pre-company-dependent-jsonb.py
  migrations/project_forecast/saas~17.1.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] l10n_mx/saas~16.2: load CoA in `end-`
  migrations/l10n_mx/saas~16.2.2.0/end-migrate.py
  migrations/l10n_mx/saas~16.2.2.0/post-migrate.py
Due: no-license-comment

[FIX] project_forecast/saas~17.1: fix mogrify
  migrations/project_forecast/saas~17.1.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] project_forecast/saas~17.1: decode byte string to string
  migrations/project_forecast/saas~17.1.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] documents{,_project}/saas~17.5: sharepocalypse
  migrations/documents/saas~17.5.1.4/end-migrate.py
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents_project/saas~17.5.1.0/pre-migrate.py
  migrations/documents_project/tests/__init__.py
  migrations/documents_project/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] documents{,_project}/saas~17.5: sharepocalypse
  migrations/documents_project/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents(_spreadsheet)/saas~17.5: keep access_internal if we can
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents_spreadsheet/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] l10n_cl_edi/saas~17.5: verify `last_rest_token` column existence
  migrations/l10n_cl_edi/saas~17.5.1.2/pre-migrate.py
Due: no-license-comment

[FIX] documents_project/tests: fix unavailable import
  migrations/documents_project/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[IMP] product,sale,*/saas~18.1: rename fields
  migrations/product/saas~18.1.1.2/pre-migrate.py
  migrations/purchase/saas~18.1.1.2/pre-migrate.py
  migrations/sale/saas~18.1.1.2/pre-migrate.py
  migrations/sale_project/saas~18.1.1.0/pre-migrate.py
  migrations/sale_renting/saas~18.1.1.0/pre-migrate.py
  migrations/website_sale/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~17.5: fixed TypeError for NoneType object
  migrations/base/saas~17.5.1.3/pre-company-dependent-jsonb.py
Due: no-license-comment

[FIX] documents/saas~17.5: set the contact if we reset the owner
  migrations/documents/saas~17.5.1.4/end-migrate.py
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[IMP] documents/saas~17.5: migrate workflow rule (sharepocalypse)
  migrations/documents/saas~17.5.1.4/end-migrate.py
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] base/8.0: add missing PKs
  migrations/base/8.0.1.3/pre-00-cleanup.py
Due: no-license-comment

[FIX] documents/saas~17.5: add only company users as members
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: renamed fields
  migrations/base/0.0.0/pre-08-fields.py
  migrations/base/8.0.1.3/pre-08-fields.py
  migrations/base/9.0.1.3/pre-08-fields.py
Due: no-license-comment, bad-import-000

[IMP] hr/saas~18.1: make unarchive wizard work with multiple employees
  migrations/documents_hr/saas~18.1.1.0/pre-migrate.py
  migrations/hr/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5: Fix Query Error
  migrations/documents/saas~17.5.1.4/end-migrate.py
Due: no-license-comment

[FIX] documents_spreadsheet/saas~17.5: hide the frozen folders
  migrations/documents_spreadsheet/saas~17.5.1.0/pre-migrate.py
  migrations/documents_spreadsheet/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~13.2: correctly update sequence_number column
  migrations/account/saas~13.2.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: avoid import warning
  migrations/base/8.0.1.3/pre-08-fields.py
Due: no-license-comment

[IMP] sale/saas~18.1: rename fields
  migrations/sale/saas~18.1.1.2/pre-migrate.py
Due: no-license-comment

[IMP] hr/saas~18.1: update targets on stage change
  migrations/hr/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment
