Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] l10n_mx/saas~16.5: rename `l10n_mx_tax_type` on tax
  migrations/l10n_mx/saas~16.5.2.0/pre-migrate.py
Due: no-license-comment

[IMP] repair/saas~16.5: rename stock.lot fields
  migrations/repair/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sign/saas~16.5: remove refusal option and signature order group
  migrations/sign/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] util/fields : Changing ttype for related fields to html
  migrations/util/fields.py
Due: no-license-comment

[IMP] sale/saas~16.5: drop removed field
  migrations/sale/saas~16.5.1.2/pre-migrate.py
  migrations/sale_management/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_payroll/saas~16.5: Remove browsable objects
  migrations/hr_payroll/saas~16.5.1.0/end-migrate.py
  migrations/hr_payroll/saas~16.5.1.0/post-migrate.py
  migrations/l10n_ae_hr_payroll/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[chore] remove ruff required version
  pyproject.toml
Due: none

[IMP] hr_contract_salary/saas~16.5: rename model
  migrations/hr_contract_salary/saas~16.5.2.0/post-migrate.py
  migrations/hr_contract_salary/saas~16.5.2.0/pre-migrate.py
  migrations/l10n_be_hr_contract_salary/saas~16.2.1.0/pre-migrate.py
Due: no-license-comment

[IMP] payment/saas~16.5,*: replace providers by methods on payment forms
  migrations/account_payment/saas~16.5.2.0/pre-migrate.py
  migrations/payment/saas~16.5.2.0/post-migrate.py
  migrations/payment/saas~16.5.2.0/pre-migrate.py
  migrations/payment_adyen/saas~16.5.2.0/pre-migrate.py
  migrations/payment_alipay/saas~16.5.2.0/post-migrate.py
  migrations/payment_authorize/saas~16.5.2.0/pre-migrate.py
  migrations/payment_custom/saas~16.5.2.0/post-migrate.py
  migrations/payment_ogone/saas~16.5.2.0/post-migrate.py
  migrations/payment_payulatam/saas~16.5.2.0/post-migrate.py
  migrations/payment_payumoney/saas~16.5.2.0/post-migrate.py
  migrations/payment_stripe/saas~16.5.2.0/pre-migrate.py
  migrations/sale/saas~16.5.1.2/pre-migrate.py
  migrations/sale_subscription/saas~16.5.1.1/pre-migrate.py
  migrations/website_payment/saas~16.5.1.0/pre-migrate.py
  migrations/website_sale_picking/saas~16.5.1.0/pre-migrate.py
  migrations/website_sale_picking/saas~16.5.2.0/post-migrate.py
  migrations/website_sale_ups/saas~16.5.1.0/post-migrate.py
  migrations/website_sale_ups/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] hr_contract_salary/saas~16.4: fix sign.item after address_home_id removal
  migrations/hr_contract_salary/saas~16.4.2.0/pre-migrate.py
Due: no-license-comment

[ADD] payment_adyen/saas~16.5.2.0 : remove and rename api fields
  migrations/payment_adyen/saas~16.5.2.0/pre-migrate.py
Due: no-license-comment

[FIX] sale/0.0.0: remove uniq constraint
  migrations/sale/0.0.0/pre-clean-constraint.py
Due: no-license-comment, bad-import-000

[ADD] payment/saas~16.5.2.0: drop the description field from payment link wizard
  migrations/payment/saas~16.5.2.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_it_edi_pa/saas~16.5: merge into l10n_it_edi
  migrations/base/saas~16.5.1.3/pre-10-modules.py
  migrations/l10n_it_edi/saas~16.5.0.3/pre-migrate.py
Due: no-license-comment

[IMP] sale_subscription/saas~16.5: remove unused column
  migrations/sale_subscription/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] pos_self_order/saas~16.5: merging kiosk and selfOrder mobile
  migrations/pos_self_order/saas~16.5.1.0.1/pre-migrate.py
  migrations/pos_self_order/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_{work_entry_}holidays/saas~16.5: upgrade
  migrations/hr_holidays/saas~16.5.1.5/end-migrate.py
  migrations/hr_holidays/saas~16.5.1.5/pre-migrate.py
  migrations/hr_work_entry_holidays/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_holidays/saas~16.5: migrate access rule
  migrations/hr_holidays/saas~16.5.1.5/pre-migrate.py
Due: no-license-comment

[IMP] event/saas~16.5: introduce new badge dimensions
  migrations/event/saas~16.5.1.7/pre-migrate.py
Due: no-license-comment

[FIX] event/saas~16.5: merge phone and mobile fields on registration
  migrations/event/saas~16.5.1.8/pre-migrate.py
  migrations/event/tests/__init__.py
  migrations/event/tests/test_16_5_phone_mobile_merge.py
  migrations/event_booth/saas~16.5.1.1/pre-migrate.py
  migrations/event_booth_sale/saas~16.5.1.2/pre-migrate.py
  migrations/event_sale/saas~16.5.1.3/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] account/16.0: ignore unexpected types in internal adapter
  migrations/account/16.0.1.1/pre-migrate.py
Due: no-license-comment

[IMP] util/misc: allow more than two terms in expand_braces
  migrations/base/tests/test_util.py
  migrations/util/misc.py
Due: no-license-comment, bad-import-000

[IMP] tools/matt.py: allow to specify the python bin to use to run odoo
  tools/matt.py
Due: no-license-comment

[chore] lint tools/matt.py
  tools/matt.py
Due: no-license-comment

[IMP] stock_picking_batch/saas~16.5: remove simplified list of transfers
  migrations/stock_picking_batch/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] website_*/saas~16.5: remove private profile template
  migrations/website_forum/saas~16.5.1.2/pre-migrate.py
  migrations/website_profile/saas~16.5.1.0/pre-migrate.py
  migrations/website_slides/saas~16.5.2.7/pre-migrate.py
Due: no-license-comment

[IMP] industry_fsm/saas~16.5: revert worksheet without studio feature
  migrations/industry_fsm/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] pos_blackbox_be/0.0.0: update certification
  migrations/base/0.0.0/pre-00-checks.py
  migrations/pos_blackbox_be/16.0.1.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] sale/saas~13.2: remove extra braces detected
  migrations/sale/saas~13.2.1.1/pre-migrate.py
Due: no-license-comment

[FIX] hr_work_entry/saas~12.5: remove extra braces detected
  migrations/hr_work_entry/saas~12.5.1.0/pre-10-from_hr_payroll.py
Due: no-license-comment

[FIX] base/0.0.0 : Making pre-commit compatible
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0 : Added a fix for renamed/removed fields in heuristics
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] util/fields : Addition of rename field name into __renamed_fields
  migrations/util/fields.py
Due: no-license-comment

[FIX] l10n_mx_edi/saas~13.5: avoid duplicate record for edi doc
  migrations/l10n_mx_edi/saas~13.5.0.2/pre-05-edi-documents.py
Due: no-license-comment

[FIX] l10n_mx/16.0: avoid duplicate record
  migrations/l10n_mx/16.0.2.0/post-migrate.py
Due: no-license-comment

[FIX] util/records: fix update from xml of menus
  migrations/base/tests/test_util.py
  migrations/util/records.py
Due: no-license-comment, bad-import-000

[IMP] account/saas~16.5: account type
  migrations/account/saas~16.5.1.2/pre-migrate.py
Due: no-license-comment

[IMP] account_winbooks_import/saas~16.5: clean removed onboarding step
  migrations/account_winbooks_import/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] appointment/saas~16.5: set defaut videocall source
  migrations/appointment/saas~16.5.1.3/pre-migrate.py
Due: no-license-comment

[IMP] sale/saas~16.5: remove unnecessary query
  migrations/sale/saas~16.5.1.2/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
