Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[FIX] l10n_mx_edi/saas~16.4: add column to coalesce
  migrations/l10n_mx_edi/saas~16.4.0.3/post-migrate.py
Due: no-license-comment

[FIX] stock/0.0.0: ensure correct groups
  migrations/stock/0.0.0/pre-stable-fixes.py
Due: no-license-comment, bad-import-000

[FIX] hr/saas~16.4: only reset private partners
  migrations/hr/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] sms/saas~14.5.2.2: don't try to update demo records
  migrations/sms/saas~14.5.2.2/post-migrate.py
Due: no-license-comment

[IMP] base/saas~17.2: merge module
  migrations/base/saas~17.2.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] delivery_iot/saas~16.5: Fix PK violation
  migrations/delivery_iot/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[ADD] website_*/saas~17.2: remove views
  migrations/website_sale/saas~17.2.1.1/pre-migrate.py
  migrations/website_sale_subscription/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] {base,stock_landed_costs}/saas~17.2: store company of LC
  migrations/base/saas~17.2.1.3/pre-10-modules.py
  migrations/stock_landed_costs/saas~17.2.1.1/pre-migrate.py
Due: no-license-comment

[FIX] hr/saas~16.4: adapt field usage
  migrations/hr/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] sale/saas~16.5.1.2: linking attachments to product.document
  migrations/sale/saas~16.5.1.2/pre-migrate.py
Due: no-license-comment

[IMP] l10n_in_reports_gstr/saas~17.2: remove field
  migrations/l10n_in_reports_gstr/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] {payment*,website_sale*}/saas~16.5
  migrations/payment/saas~16.5.2.0/post-migrate.py
  migrations/payment_custom/saas~16.5.2.0/post-migrate.py
  migrations/website_sale_picking/saas~16.5.1.0/post-migrate.py
  migrations/website_sale_ups/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[FIX] payment{_demo}/saas~16.5.2.0: fix payment migration bugs
  migrations/payment/saas~16.5.2.0/end-migrate.py
  migrations/payment/saas~16.5.2.0/post-migrate.py
  migrations/payment/tests/__init__.py
  migrations/payment/tests/test_17_0_providers_migration.py
  migrations/payment_demo/saas~16.5.2.0/post-migrate.py
Due: no-license-comment, bad-import-000

[FIX] mrp/11.0: restrict double reservation for MOs
  migrations/mrp/11.0.2.0/pre-10-basicmodels.py
Due: no-license-comment

[FIX] base/saas~16.5: handle value error raised
  migrations/base/saas~16.5.1.3/pre-00-ir_act_server.py
Due: no-license-comment

[FIX] l10n_tr_reports/saas~16.1: Remove account report expression record
  migrations/l10n_tr_reports/saas~16.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~16.5: auto-install base_import_module
  migrations/base/saas~16.5.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] account/saas~16.4.1.2: update record_rule
  migrations/account/saas~16.4.1.2/post-migrate.py
Due: no-license-comment

[FIX] data_merge/15.0: update rule in end
  migrations/data_merge/15.0.1.3/end-migrate-rule.py
  migrations/data_merge/16.0.1.3/end-migrate-rule.py
  migrations/data_merge/16.0.1.3/post-migrate-rule.py
Due: no-license-comment

[IMP] project/saas~17.2: update portal task rule
  migrations/project/saas~17.2.1.3/post-migrate.py
Due: no-license-comment

[FIX] hr_holidays/saas~16.5: always compute `number_of_hours`
  migrations/hr_holidays/saas~16.5.1.5/end-migrate.py
Due: no-license-comment

[FIX] payment/saas~16.5: avoid cte
  migrations/payment/saas~16.5.2.0/post-migrate.py
Due: no-license-comment

[FIX] website/saas~16.5: expand update cowed view website.header_call_to_action
  migrations/website/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_avatax_sale/saas~17.2.1.0: rename inheriting view
  migrations/account_avatax_sale/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[chore] apply ruff suggestions
  migrations/base/0.0.0/pre-models-ir_module_module.py
Due: no-license-comment, bad-import-000

[FIX] base/15.0.1.3: Recursive administration categories
  migrations/base/0.0.0/pre-models-ir_module_module.py
Due: no-license-comment, bad-import-000

[IMP] spreadsheet_edition/saas~17.2: convert pivot definition
  migrations/spreadsheet_edition/saas~17.2.1.0/pre-migrate.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_insert_pivot.py
Due: no-license-comment, bad-import-000

[IMP] base/saas~17.2: merge facturae invoice period
  migrations/base/saas~17.2.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] payment_demo/saas~16.5: remove demo entry
  migrations/payment_demo/saas~16.5.2.0/pre-migrate.py
Due: no-license-comment

[IMP] fleet/saas~17.2: remove unused fields
  migrations/fleet/saas~17.2.0.1/pre-migrate.py
Due: no-license-comment

[ADD] hr_payroll_account/17.0: sane default value for new field
  migrations/hr_payroll_account/17.0.1.0/pre-upgrade.py
Due: no-license-comment

[chore] autoupdate pre-commit and update ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[chore] replace black with ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[chore] remove migrations/util specific rules
  pyproject.toml
Due: none

[chore] pyproject.toml -> ruff.toml
  ruff.toml
Due: none

[chore] use python3-compatible `print(s)`
  migrations/mail/7.saas~2.1.0/post-999-announce-new-version.py
  migrations/mail/7.saas~3.1.0/post-999-announce-new-version.py
  migrations/mail/7.saas~4.1.0/post-999-announce-new-version.py
  migrations/mail/7.saas~5.1.0/post-999-announce-new-version.py
  migrations/mail/8.0.1.0/post-999-announce-new-version.py
  migrations/mail/8.saas~6.1.0/post-999-announce-new-version.py
  migrations/mail/9.0.1.0/post-999-announce-new-version.py
  migrations/mail/9.saas~10.1.0/post-999-announce-new-version.py
  migrations/mail/9.saas~11.1.0/post-999-announce-new-version.py
  migrations/mail/9.saas~7.1.0/post-999-announce-new-version.py
  migrations/mail/9.saas~8.1.0/post-999-announce-new-version.py
  migrations/mail/9.saas~9.1.0/post-999-announce-new-version.py
Due: no-license-comment

[FIX] base/0.0.0: remove parent of self partner
  migrations/base/0.0.0/init-check-cycle.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: ensure modules have an xmlid in `base`
  migrations/base/0.0.0/pre-ensure_module_xmlids.py
Due: no-license-comment, bad-import-000

[ADD] pos_self_order/saas~16.4: populate access_token, identifier
  migrations/pos_self_order/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_in/saas~16.4: remove view
  migrations/l10n_in/saas~16.4.2.0/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
