Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message
    - id: gitlint-ci
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message

  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
    - id: ruff
      name: Check code with Ruff, apply automatic fixes
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
      name: Format code with Ruff automatically
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[IMP] im_livechat/0.0.0: update livechat manager rule
  migrations/im_livechat/0.0.0/post-update_rule_name_member_for_livechat_user.py
  migrations/im_livechat/0.0.0/pre-update_rule_create_member_for_livechat_user.py
Due: no-license-comment, bad-import-000

[FIX] */saas~18.3: remove superflouous activity types
  migrations/l10n_be_reports/saas~18.3.1.1/pre-migrate.py
  migrations/mrp_plm/saas~18.3.1.0/pre-migrate.py
  migrations/product_expiry/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] maintenance/saas~18.3: remove mail inheritance and alias_id field
  migrations/maintenance/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] various/saas~18.3: tidy up module categories in apps
  migrations/base/saas~18.3.1.3/end-migrate.py
  migrations/base/saas~18.3.1.3/post-migrate.py
Due: no-license-comment

[IMP] base_vat/saas~18.3: remove non-stored computed vies_vat_to_check
  migrations/base_vat/saas~18.3.2.0/pre-migrate.py
Due: no-license-comment

[IMP] documents{,_hr,_hr_payroll}/saas~18.3: avoid unused doc aliases
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents/saas~18.3.1.4/pre-migrate.py
  migrations/documents_hr/saas~18.3.1.0/pre-migrate.py
  migrations/documents_hr_payroll/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/0.0.0: Replace dash with tilde
  migrations/account_reports/0.0.0/post-migrate.py
Due: no-license-comment, bad-import-000

[IMP] sale_planning/saas~18.3: remove view
  migrations/sale_planning/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~18.3: remove category_id usage
  migrations/base/0.0.0/pre-only-one-user-type-group.py
Due: no-license-comment, bad-import-000

[FIX] website_sale/saas~16.5: carry over extra step setting
  migrations/website_sale/saas~16.5.1.1/post-migrate.py
  migrations/website_sale/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] website_sale/saas~16.5: carry over accept & term conditions
  migrations/website_sale/saas~16.5.1.1/post-migrate.py
  migrations/website_sale/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] pos_blackbox_be/saas~18.2: Fix UndefinedColumn Error
  migrations/pos_blackbox_be/saas~18.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account/0.0.0: match uniq account.fiscal.position.account
  migrations/account/0.0.0/pre-models-match_uniq.py
Due: no-license-comment, bad-import-000

[FIX] l10n_nl/18.0: ignore force_create flag
  migrations/l10n_nl/18.0.3.4/pre-migrate.py
Due: no-license-comment

[IMP] sale_timesheet/saas~18.4: remove view
  migrations/sale_timesheet/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/0.0.0: Fix typo
  migrations/account_reports/0.0.0/post-migrate.py
Due: no-license-comment, bad-import-000

[IMP] l10n_eg_hr_payroll/saas~18.4: removed rule
  migrations/l10n_eg_hr_payroll/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] hr_holidays/saas~18.3: Fix upgrade script
  migrations/hr_holidays/saas~18.3.1.6/pre-migrate.py
  migrations/hr_holidays/tests/__init__.py
  migrations/hr_holidays/tests/test_accrual_level.py
  migrations/hr_holidays/tests/test_leave_type.py
Due: no-license-comment, bad-import-000

[FIX] l10n_in_reports/saas~18.3: fix misformatted report message
  migrations/l10n_in_reports/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] */saas~18.4: Interface Promenade
  migrations/hr_recruitment/saas~18.4.1.1/pre-migrate.py
  migrations/hr_referral/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] hr_holidays/tests: fix unavailable import
  migrations/hr_holidays/tests/test_accrual_level.py
Due: no-license-comment, bad-import-000

[IMP] spreadsheet/saas~18.3: change positioning of figures
  migrations/spreadsheet_edition/saas~18.3.1.0/pre-migrate-update-chart-position.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_add_dataset_to_odoo_charts.py
  migrations/spreadsheet_edition/tests/test_image_attachment.py
  migrations/spreadsheet_edition/tests/test_update_figure_commands.py
Due: no-license-comment, bad-import-000

[IMP] pre-commit: semgrep more query manipulation functions
  semgrep.yaml
Due: none

[chore] {crm,documents_account}/saas~18.3: lint files
  migrations/crm/saas~18.3.1.9/post-migrate.py
  migrations/documents_account/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[FIX] documents_hr_recruitment/18.0: Ensure parent folder is correct
  migrations/documents_hr_recruitment/18.0.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents_hr_recruitment/saas~{17.5,18.1,18.2,18.3}: Wrong module
  migrations/documents_hr_recruitment/saas~18.1.1.0/pre-fix-missing-renames.py
  migrations/documents_hr_recruitment/saas~18.2.1.0/pre-fix-missing-renames.py
  migrations/documents_hr_recruitment/saas~18.3.1.0/pre-fix-missing-renames.py
Due: no-license-comment

[FIX] account/16.0: do not populate related field
  migrations/account/16.0.1.1/pre-migrate.py
Due: no-license-comment

[FIX] account/0.0.0: cleanup non stored column
  migrations/account/0.0.0/pre-fix-oversights.py
Due: no-license-comment, bad-import-000

[FIX] hr_holidays/saas~14.5: set the correct date for leave allocation
  migrations/hr_holidays/saas~14.5.1.5/pre-migrate.py
Due: no-license-comment

[IMP] hr_timesheet/saas~18.4: update security rules
  migrations/hr_timesheet/saas~18.4.1.0/post-migrate.py
Due: no-license-comment

[IMP] auth_totp_mail/saas~18.4: move rate limiting to auth_totp
  migrations/auth_totp/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5.1.4: mail_alias update perf and correctness
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[IMP] product/11.0: Precompute new columns to speed up upgrade
  migrations/product/11.0.1.2/pre-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~18.4: add 'cumulatedStart' to charts
  migrations/spreadsheet_edition/saas~18.4.1.0/pre-migrate-pivot-cumulated-start-chart.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_set_cumulated_start_odoo_chart.py
Due: no-license-comment, bad-import-000

[FIX] sale_subscription/saas~15.3.1.1: set_recurring_id_in_sale_order
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment

[FIX] account/saas~17.5: Tax deactivation issue
  migrations/account/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~17.5: Improve tax deactivting query
  migrations/account/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

[IMP] payment_sepa_direct_debit/saas~18.4: remove unused view
  migrations/payment_sepa_direct_debit/saas~18.4.2.0/pre-migrate.py
Due: no-license-comment

[FIX] stock/saas~18.1: Ensure column exists before adding to join
  migrations/stock/saas~18.1.1.1/pre-uom.py
Due: no-license-comment
