Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] documents/saas~16.3: add is_multipage
  migrations/documents/saas~16.3.1.2/pre-migrate.py
Due: no-license-comment

[FIX] purchase_requisition/16.0.0.1: stop record removal
  migrations/purchase_requisition/16.0.0.1/post-remove-tender.py
Due: no-license-comment

[ADD] sale(_product_configurator)/saas~16.3: refactor in OWL
  migrations/sale/saas~16.3.1.2/pre-migrate.py
  migrations/sale_product_configurator/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] project/saas~16.2: transfer mail tracking values from kanban_state to state
  migrations/project/saas~16.2.1.2/pre-migrate.py
  migrations/project/tests/__init__.py
  migrations/project/tests/test_migrate_kanban_state_tracking_values.py
Due: no-license-comment, bad-import-000

[FIX] website/saas~16.2: skip empty html
  migrations/website/saas~16.2.1.0/end-all-pages-popup.py
Due: no-license-comment

[FIX] util/orm: imd entry for admin channel
  migrations/util/orm.py
Due: no-license-comment

[FIX] util/models: do not drop FKs on rename_model, rename instead
  migrations/util/models.py
Due: no-license-comment

[ADD] util/pg: add a specialized `create_fk` helper
  migrations/util/pg.py
Due: no-license-comment

[FIX] mail/9.0: drop ON DELETE CASCADE FK
  migrations/mail/9.0.1.0/pre-10-model-changes.py
Due: no-license-comment

[FIX] stock/11.0: create FK constraint
  migrations/stock/11.0.1.1/pre-10-basicmodels.py
Due: no-license-comment

[FIX] stock/11.0: execute queries in //
  migrations/stock/11.0.1.1/pre-10-basicmodels.py
Due: no-license-comment

[FIX] stock/11.0: split query run into chunks
  migrations/stock/11.0.1.1/pre-20-inventoryadjustment.py
Due: no-license-comment

[FIX] util.move_model: move mail.template
  migrations/util/modules.py
Due: no-license-comment

[IMP] l10n_in_hr_payroll/saas~16.2.1.0: remove views and rename fields
  migrations/l10n_in_hr_payroll/saas~16.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] util/inconsistencies: avoid check to block upgrade
  migrations/util/inconsistencies.py
Due: no-license-comment

[IMP] hr,hr_contract/saas~16.3: remove unused fields and view
  migrations/hr/saas~16.3.1.1/pre-migrate.py
  migrations/hr_contract/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] tools/matt.py: ignore test modules by default
  tools/matt.py
Due: no-license-comment

[IMP] tools/check-filenames.py: verify that tests are imported
  tools/check-filenames.py
Due: no-license-comment

[FIX] */tests: import missing tests
  migrations/account/tests/__init__.py
  migrations/base/tests/__init__.py
  migrations/documents_spreadsheet/tests/__init__.py
  migrations/sale_subscription/tests/__init__.py
Due: no-license-comment, bad-import-000

[FIX] account/tests
  migrations/account/tests/__init__.py
  migrations/account/tests/test_15_5_optional_bank_statements.py
  migrations/account/tests/test_15_5_reportalypse.py
  migrations/account/tests/test_16_2_payment_term.py
  migrations/account/tests/test_analytic_15_5.py
  migrations/account/tests/test_common.py
  migrations/l10n_be_reports/tests/test_15_5_reportalypse.py
Due: no-license-comment, bad-import-000

[FIX] account/tests
  migrations/account/tests/test_16_2_payment_term.py
Due: no-license-comment, bad-import-000

[FIX] documents_spreadsheet/tests
  migrations/documents_spreadsheet/tests/test_revision_model.py
Due: no-license-comment, bad-import-000

[FIX] util/16.0: adapt convert_bootstrap util for countdown snippets
  migrations/util/convert_bootstrap.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[chore] pre-commit: improve `ruff` config
  pyproject.toml
Due: none

[FIX] website_slides/16.0: set value for Channel Share Template
  migrations/website_slides/16.0.2.6/end-migrate.py
Due: no-license-comment

[FIX] sale/9.saas~12: run queries in //
  migrations/sale/9.saas~12.1.0/pre-20-models.py
Due: no-license-comment

[FIX] mail/10.saas~14: // run query
  migrations/mail/10.saas~14.1.0/pre-followers.py
Due: no-license-comment

[FIX] stock_account/11.0: improve script
  migrations/stock_account/11.0.1.1/pre-10-real2fifo.py
Due: no-license-comment

[FIX] stock/11.0: optimize queries
  migrations/stock/11.0.1.1/post-10-advancedmoveopassign.py
Due: no-license-comment

[FIX] sale_stock/11.0: run query in //
  migrations/sale_stock/11.0.1.0/pre-10-salelineid.py
Due: no-license-comment

[IMP] documents/saas~16.3: add file_extension field in document
  migrations/documents/saas~16.3.1.2/pre-migrate.py
  migrations/documents/tests/__init__.py
  migrations/documents/tests/test_16_3_add_file_extension.py
Due: no-license-comment, bad-import-000

[FIX] l10n_nl/saas~16.2: check for column existence
  migrations/l10n_nl/saas~16.2.3.0/pre-migrate.py
Due: no-license-comment

[FIX] documents_spreadsheet/saas~15.4: handle update_cell for revision
  migrations/documents_spreadsheet/saas~15.4.1.0/pre-migrate-add-list.py
  migrations/documents_spreadsheet/saas~15.4.1.0/pre-migrate-add-pivot.py
Due: no-license-comment

[FIX] hr_expense/saas~16.3: duplicate journal field
  migrations/hr_expense/saas~16.3.2.0/pre-migrate.py
Due: no-license-comment

[IMP] timesheet_grid/saas~16.3: remove timesheet inherited form views
  migrations/helpdesk_sale_timesheet/saas~16.3.1.0/pre-migrate.py
  migrations/helpdesk_timesheet/saas~16.3.1.0/pre-migrate.py
  migrations/sale_timesheet_enterprise/saas~16.3.0.1/pre-migrate.py
  migrations/timesheet_grid/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] helpdesk_account/saas~16.3,**: remove unused views
  migrations/helpdesk_account/saas~16.3.1.0/pre-migrate.py
  migrations/helpdesk_sale_loyalty/saas~16.3.1.0/pre-migrate.py
  migrations/helpdesk_stock/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] helpdesk/saas~16.3: move the scripts into the right module version
  migrations/helpdesk/saas~16.3.1.0/pre-migrate.py
  migrations/helpdesk/saas~16.3.1.5/pre-migrate.py
Due: no-license-comment

[IMP] helpdesk/saas~16.3: team_ids required in helpdesk_stage
  migrations/helpdesk/saas~16.3.1.5/pre-migrate.py
  migrations/helpdesk/tests/__init__.py
  migrations/helpdesk/tests/test_migrate_team_ids_required.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~16.2: fix payment term upgrade script
  migrations/account/saas~16.2.1.2/pre-migrate.py
  migrations/account/tests/test_16_2_payment_term.py
Due: no-license-comment, bad-import-000

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
