Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
    - id: ruff
      args: [ --fix, --exit-non-zero-on-fix ]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[IMP] base/saas~16.5.1.3: remove sale_quotation_builder
  migrations/base/saas~16.5.1.3/pre-10-modules.py
  migrations/sale/saas~16.5.1.2/pre-migrate.py
  migrations/sale_management/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] */tests: don't use deprecated unittest aliases
  migrations/account/tests/test_account_pocalypse.py
  migrations/account_asset/tests/test_grouped_assets.py
  migrations/base/tests/test_util.py
  migrations/stock_account/tests/test_account_pocalypse.py
  pyproject.toml
Due: no-license-comment, bad-import-000

[FIX] base_automation/tests: don't deactivate partners
  migrations/base_automation/tests/test_conversion_to_multiple_actions.py
Due: no-license-comment, bad-import-000

[FIX] project_todo/saas~16.3: avoid duplicate entry
  migrations/project_todo/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] repair/16.5.1.0: inventory kanban view repair improvements
  migrations/repair/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] util/inconsistencies.py: Improve message for product mismatch
  migrations/util/inconsistencies.py
Due: no-license-comment

[IMP] hr_holidays/saas~16.5: remove view, fields and record
  migrations/hr_holidays/saas~16.5.1.5/pre-migrate.py
Due: no-license-comment

[ADD] event/saas~16.5: remove event_barcode module
  migrations/base/saas~16.5.1.3/pre-10-modules.py
  migrations/event/saas~16.5.1.8/pre-migrate.py
Due: no-license-comment

[IMP] appointment/saas~16.5: rename category and move anytime
  migrations/appointment/saas~16.5.1.3/pre-migrate.py
Due: no-license-comment

[IMP] account_followup/saas~16.5: recreate reconcile index
  migrations/account/saas~16.5.1.2/pre-migrate.py
Due: no-license-comment

[FIX] mass_mailing/saas~16.5: cleanup (un)subscription flow
  migrations/mass_mailing/saas~16.5.2.7/pre-migrate.py
  migrations/mass_mailing_sms/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] mail/saas~16.5: simplify 'mail.tracking.value' model
  migrations/helpdesk/saas~16.3.1.5/pre-migrate.py
  migrations/mail/saas~16.5.1.15/pre-migrate.py
  migrations/project/saas~16.2.1.2/pre-migrate.py
  migrations/project/tests/test_migrate_kanban_state_tracking_values.py
Due: no-license-comment, bad-import-000

[IMP] l10n_es/saas~16.5: move simplified partner and preset new field
  migrations/l10n_es/saas~16.5.4.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_holidays/saas~16.5: remove allocation field on leave
  migrations/hr_holidays/saas~16.5.1.5/pre-migrate.py
Due: no-license-comment

[IMP] project*,industry_fsm/saas~16.5: merge end dates
  migrations/industry_fsm/saas~16.5.1.0/pre-migrate.py
  migrations/project/saas~16.5.1.3/pre-migrate.py
  migrations/project_enterprise/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] (website_)hr_recruitment/saas~16.5 : Remove field/update template
  migrations/hr_recruitment/saas~16.5.1.1/pre-migrate.py
  migrations/website_hr_recruitment/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] im_livechat/saas~16.5: move username
  migrations/im_livechat/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] *: use file_path instead of get_resource_path
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] industry_fsm_sale/saas~13.3: remove extra braces detected
  migrations/industry_fsm_sale/saas~13.3.1.0/post-move-to-industry_fsm_sale.py
Due: no-license-comment

[FIX] util/records: correctly replace values in JSON
  migrations/base/tests/test_util.py
  migrations/util/records.py
Due: no-license-comment, bad-import-000

[IMP] documents/saas~16.5 : Remove wizard model
  migrations/documents/saas~16.5.1.3/pre-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~16.5: remove deprecated parameter
  migrations/spreadsheet_edition/saas~16.5.1.0/pre-remove_parameter.py
Due: no-license-comment

[IMP] util/inconsistencies.py: Allow auto-fix for UoM inconsistencies
  migrations/util/inconsistencies.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~16.5.1.0: adapt filter default value
  migrations/documents_spreadsheet/tests/__init__.py
  migrations/documents_spreadsheet/tests/test_filter_default_period.py
  migrations/spreadsheet_edition/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~12.4.1.1: fix memory error
  migrations/account/saas~12.4.1.1/end-09-account-pocalypse.py
Due: no-license-comment

[IMP] base/tests: deprecate active_* keys from evalContext
  migrations/base/tests/test_attrs_views.py
Due: no-license-comment, bad-import-000

[IMP] account_*/saas~16.{3,5}: new deferred fields
  migrations/account_accountant/saas~16.5.1.1/pre-migrate.py
  migrations/account_asset/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0 : Modify the re pattern for group
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] account,account_reports/saas~16.5: pdf reports
  migrations/account_consolidation/saas~16.5.1.0/pre-migrate.py
  migrations/account_reports/saas~16.5.1.0/pre-migrate.py
  migrations/account_reports_cash_basis/saas~16.5.1.0/pre-migrate.py
  migrations/l10n_be_reports/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] voip/saas~16.5: complete refactoring
  migrations/voip/saas~16.5.2.0/pre-migrate.py
  migrations/voip_crm/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~16.5.1.3,l10n_pl/saas~16.5.2.0: merge l10n_pl_jpk
  migrations/base/saas~16.5.1.3/pre-10-modules.py
  migrations/l10n_pl/saas~16.5.2.0/pre-10-migrate.py
  migrations/l10n_pl/saas~16.5.2.0/pre-20-migrate.py
  migrations/l10n_pl_reports/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] planning/saas~16.5: remove unused field
  migrations/planning/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] purchase_requisition,stock/saas~16.5: remove unused field
  migrations/purchase_requisition/saas~16.5.0.1/pre-migrate.py
  migrations/stock/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] pre-commit: lint commit message with `gitlint` using `pre-commit`
  .pre-commit-config.yaml
Due: none

[IMP] pre-commit: improve hook messages
  .pre-commit-config.yaml
Due: none

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[FIX] base/tests: correctly test `util.update_record_from_xml`
  migrations/base/tests/test_util.py
Due: no-license-comment, bad-import-000

[IMP] base/tests: split test
  migrations/base/tests/test_util.py
Due: no-license-comment, bad-import-000

[IMP] website_sale/saas~16.5: Checkout flow redesign
  migrations/l10n_cl_edi_website_sale/saas~16.5.0.0.1/pre-migrate.py
  migrations/l10n_mx_edi_website_sale/saas~16.5.1.0/pre-migrate.py
  migrations/website_sale/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3: don't hardcode partner ID
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment
