Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: saas-dash, saas-in-version, no-license-comment, bad-import-000

saas-dash:
  name: No `saas-*` directories
  entry: Bad directory name. `saas` versions must have a tilde separator, not a dash.
  language: fail

saas-in-version:
  name: full saas
  entry: Bad directory name. `saas` versions should be fully named.
  language: fail

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[FIX] tests: patch `_unknown` model to have `id` in >=15.0
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment

[FIX] base/0.0.0: rename non-conforming custom fields
  migrations/base/0.0.0/pre-models-custom-field-name.py
  migrations/base/14.0.1.3/pre-model-data-name-nospaces.py
Due: no-license-comment, bad-import-000

[IMP] {base,website_sale_stock_wishlist}/15.0.1.3: fix raise not null
  migrations/base/15.0.1.3/pre-10-modules.py
  migrations/website_sale_stock_wishlist/15.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] project/saas~15.4:planning,*: improve planning analysis report
  migrations/planning/saas~15.4.1.0/pre-migrate.py
  migrations/planning_holidays/saas~15.4.1.0/pre-migrate.py
  migrations/project_timesheet_forecast/saas~15.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_nl_reports/saas~15.4.1.5: rename xaf template xmlid
  migrations/l10n_nl_reports/saas~15.4.1.5/pre-migrate.py
Due: no-license-comment

[FIX] account/saas~14.5: Zero tax line CABA
  migrations/account/saas~14.5.1.1/post-10-migrate.py
  migrations/account/tests/test_14_5_aml_zero_tax.py
Due: no-license-comment

[IMP] appointment_sms/saas~15.4: move sms reminder into new submodule
  migrations/appointment_sms/saas~15.4.1.0/pre-migrate.py
  migrations/base/saas~15.4.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] util.convert_field_to_html: convert translations
  migrations/util/fields.py
Due: no-license-comment

[IMP] util.pg_text2html: allow to specify the wrapping tag
  migrations/util/pg.py
Due: no-license-comment

[chore] "reformat" util/fields.py
  migrations/util/fields.py
Due: no-license-comment

[FIX] outlook: improve readme.md and explain how to publish the add-in
  outlook/README.md
Due: none

[REF] outlook: run prettier to automatically format the code
  outlook/README.md
  outlook/package.json
  outlook/src/classes/Address.ts
  outlook/src/classes/Company.ts
  outlook/src/classes/CompanyCache.ts
  outlook/src/classes/EnrichmentInfo.ts
  outlook/src/classes/HelpdeskTicket.ts
  outlook/src/classes/Lead.ts
  outlook/src/classes/Partner.ts
  outlook/src/classes/Project.ts
  outlook/src/classes/Task.ts
  outlook/src/taskpane/api.js
  outlook/src/taskpane/components/App.tsx
  outlook/src/taskpane/components/AppContext.js
  outlook/src/taskpane/components/CollapseSection/CollapseSection.tsx
  outlook/src/taskpane/components/Company/CompanyInfoItem.tsx
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.tsx
  outlook/src/taskpane/components/Contact/ContactList/ContactList.tsx
  outlook/src/taskpane/components/Contact/ContactList/ContactListItem/ContactListItem.tsx
  outlook/src/taskpane/components/Contact/ContactPage/ContactPage.tsx
  outlook/src/taskpane/components/Contact/ContactSection/ContactSection.tsx
  outlook/src/taskpane/components/Crm/LeadList/LeadListItem.tsx
  outlook/src/taskpane/components/Crm/LeadsSection/LeadsSection.tsx
  outlook/src/taskpane/components/GrayOverlay.tsx
  outlook/src/taskpane/components/Helpdesk/TicketList/TicketListItem.tsx
  outlook/src/taskpane/components/Helpdesk/TicketsSection/TicketsSection.tsx
  outlook/src/taskpane/components/InfoCell/InfoCell.tsx
  outlook/src/taskpane/components/Log/Logger.tsx
  outlook/src/taskpane/components/Login/Login.tsx
  outlook/src/taskpane/components/Main/Main.tsx
  outlook/src/taskpane/components/ProfileCard/ProfileCard.tsx
  outlook/src/taskpane/components/Project/TaskList/TaskListItem.tsx
  outlook/src/taskpane/components/Project/TasksSection/SelectProjectDropdown.tsx
  outlook/src/taskpane/components/Project/TasksSection/TasksSection.tsx
  outlook/src/taskpane/components/Search/Search.tsx
  outlook/src/taskpane/index.tsx
  outlook/src/taskpane/taskpane.css
  outlook/src/utils/Themes.ts
  outlook/src/utils/Translator.ts
  outlook/src/utils/httpRequest.ts
Due: none

[REF] outlook: merge the components "ProfileCard" and "ContactItem"
  outlook/src/taskpane/components/Contact/ContactList/ContactList.tsx
  outlook/src/taskpane/components/Contact/ContactList/ContactListItem/ContactListItem.css
  outlook/src/taskpane/components/Contact/ContactList/ContactListItem/ContactListItem.tsx
  outlook/src/taskpane/components/Contact/ContactSection/ContactSection.tsx
  outlook/src/taskpane/components/Log/Logger.css
  outlook/src/taskpane/components/ProfileCard/ProfileCard.css
  outlook/src/taskpane/taskpane.css
Due: none

[IMP] outlook: correctly show a tooltip if the email is truncated
  outlook/src/taskpane/components/ProfileCard/ProfileCard.tsx
Due: none

[IMP] outlook: hide the button "Create and enrich" if it failed
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.tsx
Due: none

[REF] outlook: create a new component "Section"
  outlook/src/taskpane/components/Section/Section.tsx
  outlook/src/taskpane/components/SectionLeads/SectionLeads.tsx
  outlook/src/taskpane/components/SectionTasks/SectionTasks.tsx
  outlook/src/taskpane/components/SectionTickets/SectionTickets.tsx
Due: none

[REF] outlook: simplify the "Project" related components
  outlook/src/taskpane/components/Project/TaskList/TaskListItem.tsx
  outlook/src/taskpane/components/Project/TasksSection/SelectProjectDropdown.tsx
  outlook/src/taskpane/components/Project/TasksSection/TasksSection.tsx
Due: none

[REF] outlook: refactor the models part of the outlook add-in
  outlook/src/classes/Address.ts
  outlook/src/classes/Company.ts
  outlook/src/classes/EnrichmentInfo.ts
  outlook/src/classes/Lead.ts
  outlook/src/classes/Partner.ts
  outlook/src/classes/Project.ts
  outlook/src/classes/Task.ts
Due: none

[FIX] outlook: fix traceback when the partner has been removed
  outlook/src/taskpane/components/Contact/ContactPage/ContactPage.tsx
Due: none

[FIX] outlook: reload the addin when opening a new email on Desktop
  outlook/src/taskpane/components/App.tsx
  outlook/src/taskpane/components/Main/Main.tsx
Due: none

[REF] outlook: clean the company widget and the partner widget
  outlook/src/classes/EnrichmentInfo.ts
  outlook/src/taskpane/components/App.tsx
  outlook/src/taskpane/components/Company/CompanyInfoItem.tsx
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.css
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.tsx
  outlook/src/taskpane/components/Company/CompanySocialIcons.tsx
  outlook/src/taskpane/components/ProfileCard/ProfileCard.css
  outlook/src/taskpane/components/ProfileCard/ProfileCard.tsx
  outlook/src/taskpane/taskpane.css
Due: none

[REF] outlook: simplify the "Helpdesk" related components
  outlook/src/taskpane/components/Helpdesk/TicketList/TicketListItem.css
  outlook/src/taskpane/components/Helpdesk/TicketList/TicketListItem.tsx
  outlook/src/taskpane/components/Helpdesk/TicketsSection/TicketsSection.tsx
Due: none

[FIX] outlook: fix the button "Update And Enrich Company"
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.tsx
Due: none

[REF] outlook: simplify the "CRM" related components
  outlook/src/taskpane/components/Crm/LeadList/LeadListItem.css
  outlook/src/taskpane/components/Crm/LeadList/LeadListItem.tsx
  outlook/src/taskpane/components/Crm/LeadsSection/LeadsSection.tsx
Due: none

[FIX] outlook: fix the button "Create And Enrich Company"
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.tsx
Due: none

[FIX] outlook: click on the social icon should redirect the user
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.css
  outlook/src/taskpane/components/Company/CompanySocialIcons.tsx
Due: none

[IMP] outlook: never let the company section empty
  outlook/src/taskpane/components/Company/CompanySection/CompanySection.tsx
Due: none

[REF] outlook: simplify the "CollapseSection" component
  outlook/src/taskpane/components/CollapseSection/CollapseSection.css
  outlook/src/taskpane/components/CollapseSection/CollapseSection.tsx
Due: none

[REF] outlook: create a new component "ListItem"
  outlook/src/taskpane/components/Contact/ContactPage/ContactPage.tsx
  outlook/src/taskpane/components/Crm/LeadList/LeadListItem.css
  outlook/src/taskpane/components/Crm/LeadList/LeadListItem.tsx
  outlook/src/taskpane/components/Helpdesk/TicketList/TicketListItem.css
  outlook/src/taskpane/components/Helpdesk/TicketList/TicketListItem.tsx
  outlook/src/taskpane/components/ListItem/ListItem.css
  outlook/src/taskpane/components/ListItem/ListItem.tsx
  outlook/src/taskpane/components/Project/TaskList/TaskListItem.tsx
  outlook/src/taskpane/components/SectionLeads/SectionLeads.tsx
  outlook/src/taskpane/components/SectionTasks/SectionTasks.tsx
  outlook/src/taskpane/components/SectionTasks/SelectProjectDropdown.css
  outlook/src/taskpane/components/SectionTasks/SelectProjectDropdown.tsx
  outlook/src/taskpane/components/SectionTickets/SectionTickets.tsx
Due: none

[REF] outlook: use CSS attributes instead of computing width in JS
  outlook/src/taskpane/components/Contact/ContactList/ContactListItem/ContactListItem.css
  outlook/src/taskpane/components/Contact/ContactList/ContactListItem/ContactListItem.tsx
  outlook/src/taskpane/components/Log/Logger.css
  outlook/src/taskpane/components/Log/Logger.tsx
  outlook/src/taskpane/components/ProfileCard/ProfileCard.css
  outlook/src/taskpane/components/ProfileCard/ProfileCard.tsx
Due: none

[REF] outlook: simplify the "ContactPage" component
  outlook/src/taskpane/components/Contact/ContactPage/ContactPage.css
  outlook/src/taskpane/components/Contact/ContactPage/ContactPage.tsx
Due: none

[IMP] base/saas~15.4: update res_base_industries data records
  migrations/base/saas~15.4.1.3/post-migrate.py
Due: no-license-comment

[REF] outlook: remove inline style on the login page
  outlook/src/taskpane/components/Login/Login.css
  outlook/src/taskpane/components/Login/Login.tsx
Due: none

[IMP] outlook: improve the partner search view
  outlook/src/taskpane/components/Search/Search.css
  outlook/src/taskpane/components/Search/Search.tsx
  outlook/src/taskpane/taskpane.css
Due: none

[FIX] mail/0.0.0: Ensure `channel_partner_general_channel_for_admin`
  migrations/mail/0.0.0/pre-ensure-records.py
  migrations/mail/saas~15.1.1.6/pre-migrate.py
Due: no-license-comment, bad-import-000

[IMP] account/saas~15.4: update amount_residual(_signed)
  migrations/account/saas~15.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base_vat/saas~15.4: use countries VAT label
  migrations/base_vat/saas~15.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] documents_spreadsheet/saas~15.4: add name for lists and pivots
  migrations/documents_spreadsheet/saas~15.4.1.0/pre-migrate-add-list.py
  migrations/documents_spreadsheet/saas~15.4.1.0/pre-migrate-add-pivot.py
  migrations/documents_spreadsheet/tests/test_add_list.py
  migrations/documents_spreadsheet/tests/test_add_pivot.py
Due: no-license-comment

[IMP] base/0.0.0: Refactor load_views to send only once the fields
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment

[ADD] base/tests: run upgrades with a lang installed
  migrations/base/tests/__init__.py
  migrations/base/tests/test_translate.py
Due: no-license-comment

Path conditions:
  saas-dash: any of: migrations/.*/([0-9]+\.)?saas-.*/.*\.py$
  saas-in-version: any of: migrations/.*/[0-9]+\.[1-9]+.*/.*\.py$
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/0.0.0/.*\.py$
