Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] pos_self_order/saas~16.5: remove unused column
  migrations/pos_self_order/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr,hr_payroll/saas~16.5: Resolve todos
  migrations/hr/saas~16.5.1.1/post-migrate.py
  migrations/hr/saas~16.5.1.1/pre-migrate.py
  migrations/hr_payroll/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] pre-commit: enable more ruff lint rules
  pyproject.toml
Due: none

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[chore] util: handle ruff claims
  migrations/util/const.py
  migrations/util/convert_bootstrap.py
  migrations/util/data.py
  migrations/util/domains.py
  migrations/util/fields.py
  migrations/util/helpers.py
  migrations/util/indirect_references.py
  migrations/util/jinja_to_qweb.py
  migrations/util/logger.py
  migrations/util/misc.py
  migrations/util/models.py
  migrations/util/modules.py
  migrations/util/orm.py
  migrations/util/pg.py
  migrations/util/records.py
  migrations/util/report.py
  migrations/util/snippets.py
Due: no-license-comment

[FIX] account/0.0.0: make repartition lines
  migrations/account/0.0.0/pre-make-repartition-lines.py
Due: no-license-comment, bad-import-000

[IMP] microsoft_calendar/saas~16.5: calendar credentials
  migrations/microsoft_calendar/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: block upgrade when cycles in partner hierarchy
  migrations/base/0.0.0/pre-00-checks.py
Due: no-license-comment, bad-import-000

[IMP] hr_appraisal_survey/saas~16.3: update record rule
  migrations/hr_appraisal_survey/saas~16.3.1.2/pre-migrate.py
Due: no-license-comment

[FIX] stock_account/0.0.0: match by NULL value
  migrations/stock_account/0.0.0/pre-default-properties.py
Due: no-license-comment, bad-import-000

[FIX] util/records: ensure matching for `False/0` values
  migrations/util/records.py
Due: no-license-comment

[FIX] base/0.0.0: fix cycle check
  migrations/base/0.0.0/init-check-cycle.py
  migrations/base/0.0.0/pre-00-checks.py
Due: no-license-comment, bad-import-000

[FIX] hr_payroll_account/saas~16.2: set up journals
  migrations/hr_payroll_account/saas~16.2.1.0/post-migrate.py
  migrations/hr_payroll_account/saas~16.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] project_todo/saas~16.3: fixed not null value for task
  migrations/project_todo/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] util.helpers: Add exceptions for l10n_pl_tax_office
  migrations/util/helpers.py
Due: no-license-comment

[FIX] l10n_pl_jpk/saas~16.2: tax_office _name without "."
  migrations/l10n_pl_jpk/saas~16.2.1.0/pre-migrate.py
Due: no-license-comment

[chore] fix lint violations in `base/tests`
  migrations/base/tests/test_mock_crawl.py
  migrations/base/tests/test_moved0.py
  migrations/base/tests/test_util.py
Due: no-license-comment, bad-import-000

[FIX] util.adapt_domains
  migrations/base/tests/test_util.py
  migrations/util/domains.py
Due: no-license-comment, bad-import-000

[FIX] account/16.0: remove warning log
  migrations/account/16.0.1.1/pre-migrate.py
Due: no-license-comment

[chore] regenerate util/_inherit.py
  migrations/util/_inherit.py
Due: no-license-comment

[FIX] stock_account/saas~16.3.1.1: fix memory error
  migrations/stock_account/saas~16.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] sale/saas~16.4: remove field & views
  migrations/sale/saas~16.5.1.2/pre-migrate.py
  migrations/website_sale_product_configurator/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_recruitment/saas~16.5: sanitize fields
  migrations/hr_recruitment/saas~16.5.1.1/post-migrate.py
  migrations/hr_recruitment/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~16.2.1.3: fix uom inconsistencies in sale order lines
  migrations/base/saas~16.2.1.3/pre-09-delivery-uom-check.py
Due: no-license-comment

[FIX] util/domains: edit_view switched active
  migrations/util/domains.py
Due: no-license-comment

[ADD] website_sale/saas~16.5: remove popover templates
  migrations/website_event_sale/saas~16.5.1.0/pre-migrate.py
  migrations/website_sale/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] mail/saas~16.5: convert the "Reset Password" template into QWeb
  migrations/mail/saas~16.5.1.15/pre-migrate.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3: fixup
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment

[chore] sale_subscription/saas~15.3: ruff
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~16.5: remove purchase_enterprise
  migrations/base/saas~16.5.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] util/domains_py: fix adapt_domains for <= 9.0
  migrations/util/domains.py
Due: no-license-comment

[FIX] l10n_th/saas~16.1: Add newly introduced xmlid to records
  migrations/l10n_th/saas~16.1.2.0/pre-migrate.py
Due: no-license-comment

[FIX] mass_mailing(_sms)/saas~16.5: add xml ids on subscription records
  migrations/mass_mailing/saas~16.5.2.7/pre-migrate.py
  migrations/mass_mailing_sms/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] util.adapt_domains: don't update unmodified views
  migrations/base/tests/test_fix_views.py
  migrations/util/domains.py
Due: no-license-comment, bad-import-000

[IMP] point_of_sale/saas~16.5: remove field
  migrations/point_of_sale/saas~16.5.1.0.1/pre-migrate.py
Due: no-license-comment

[IMP] l10n_it_edi/saas~16.5: remove account_edi from depends
  migrations/l10n_it_edi/saas~16.5.0.3/post-migrate.py
  migrations/l10n_it_edi/saas~16.5.0.3/pre-migrate.py
Due: no-license-comment

[FIX] stock/saas~14.3: set correct value for propagate_carrier
  migrations/stock/saas~14.3.1.1/end-migrate.py
Due: no-license-comment

[FIX] account/0.0.0: make repartition lines from 14.0
  migrations/account/0.0.0/pre-make-repartition-lines.py
Due: no-license-comment, bad-import-000

[IMP] stock/saas~16.5: no save detailed operation
  migrations/stock/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] hr_appraisal/saas~16.5: remove employee autocomplete field
  migrations/hr_appraisal/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
