Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: saas-dash, saas-in-version, no-license-comment, bad-import-000

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: saas-dash
        name: No `saas-*` directories
        entry: Bad directory name. `saas` versions must have a tilde separator, not a dash.
        language: fail
        files: 'migrations/.*/([0-9]+\.)?saas-.*/.*\.py$'
      - id: saas-in-version
        name: full saas
        entry: Bad directory name. `saas` versions should be fully named.
        language: fail
        files: 'migrations/.*/[0-9]+\.[1-9]+.*/.*\.py$'
      - id: full-version
        name: fully-qualified version
        entry: Bad directory name. Versions should be fully-qualified `SERVER_VERSION.MODULE_VERSION`
        language: fail
        files: '^migrations\/.+\/(?:(?!tests|(?:[0-9]+\.0|[0-9]+\.saas~[0-9]+|saas~[0-9]+\.[0-9])(?:\.[0-9]+)+).)+\/.*\.py$'
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/0.0.0/.*\.py$'

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-logging-format
          - flake8-implicit-str-concat
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[IMP] util/pg: avoid error in `create_m2m` if m2m already exists
  migrations/util/pg.py
Due: no-license-comment

[ADD] hr_payroll_account/saas~15.5: match existing journal
  migrations/hr_payroll_account/saas~15.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: remove `ON DELETE RESTRICT` even when nullable
  migrations/base/0.0.0/pre-fk-to-irmodel.py
Due: no-license-comment, bad-import-000

[chore] blacked, formatted
  migrations/base/0.0.0/pre-fk-to-irmodel.py
Due: no-license-comment, bad-import-000

[IMP] gitlint: better handling of chore commits
  .gitlint
Due: none

[chore] tools/matt.py: pass pre-commit hooks
  tools/matt.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[IMP] tools/matt.py: better handling of non-country l10n modules
  tools/matt.py
Due: no-license-comment

[FIX] hr_attendance/saas~12.5: Fix ambiguous column
  migrations/hr_attendance/saas~12.5.2.0/pre-migrate.py
Due: no-license-comment

[IMP] survey/saas~15.5: set correct question_type for page questions
  migrations/survey/saas~15.5.3.5/pre-migrate.py
Due: no-license-comment

[FIX] mrp/saas~13.4: set the correct company on quality checks
  migrations/mrp/saas~13.4.2.0/end-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: don't remove industry_fsm_report's reports
  migrations/base/0.0.0/pre-no-studio-views.py
Due: no-license-comment, bad-import-000

[IMP] appointment/saas~15.5: Allow to define slot until midnight
  migrations/appointment/saas~15.5.1.3/pre-migrate.py
  migrations/appointment_hr/saas~15.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] hr_payroll/saas~15.3: create default dashboard note
  migrations/hr_payroll/saas~15.3.1.0/post-migrate.py
Due: no-license-comment

[IMP] base/0.0.0: remove end-clean-resize-images-cron.py
  migrations/base/0.0.0/end-clean-resize-images-cron.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: delete cron related server actions too
  migrations/base/0.0.0/end-clean-__upgrade__-crons.py
Due: no-license-comment, bad-import-000

[chore] util/orm.py: move function definition outside loop
  migrations/util/orm.py
Due: no-license-comment

[IMP] util/orm: create a __cloc_exclude__ server action xmlid with cron
  migrations/util/orm.py
Due: no-license-comment

[FIX] base/14.0: On delete restrict for m2o ir models
  migrations/base/14.0.1.3/pre-ir-many2one.py
Due: no-license-comment

[IMP] survey/saas~15.5: improves UX, remove unused view
  migrations/event_booth_sale/saas~15.5.1.1/pre-migrate.py
  migrations/website_event_booth_exhibitor/saas~15.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] hr_payroll/saas~15.5: move fields
  migrations/hr_payroll/saas~15.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~15.5.1.1: remove user_type_id and internal_type
  migrations/account/saas~15.5.1.1/pre-migrate.py
  migrations/account/tests/__init__.py
  migrations/account/tests/test_account_type_domains.py
  migrations/account_asset/saas~15.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/0.0.0: reassign imds of imfs of custom modules
  migrations/base/0.0.0/end-fix-imd-modules.py
Due: no-license-comment, bad-import-000

[ADD] base/0.0.0: clean xmlids of manual fields
  migrations/base/0.0.0/post-clean-manual-xmlids.py
Due: no-license-comment, bad-import-000

[FIX] test_{mail*,mass_mailing}/saas~14.3: remove `message_channel_ids` on more models
  migrations/test_mail/saas~14.3.1.0/pre-migrate.py
  migrations/test_mail_full/saas~14.3.1.0/pre-migrate.py
  migrations/test_mass_mailing/saas~14.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: Correct query that create missing IMD for IMFS
  migrations/base/0.0.0/end-fix-imd-modules.py
Due: no-license-comment, bad-import-000

[IMP] outlook: increase the manifest version number
  outlook/manifest.xml
Due: none

[FIX] util/pg.py: get columns of public schema only
  migrations/util/pg.py
Due: no-license-comment

[IMP] gmail: explicitly give the URLs we need to fetch in the manifest
  gmail/appsscript.json
  gmail/src/views/login.ts
Due: none

[IMP] gmail: use restricted scope to fetch data
  gmail/appsscript.json
  gmail/src/main.ts
  gmail/src/models/email.ts
Due: none

[IMP] microsoft_outlook,google_gmail/saas~15.5: ensure correct config
  migrations/base/saas~15.5.1.3/pre-10-modules.py
  migrations/fetchmail_gmail/saas~15.2.1.1/pre-migrate.py
  migrations/google_gmail/saas~15.2.1.1/pre-migrate.py
  migrations/google_gmail/saas~15.5.1.2/pre-migrate.py
  migrations/microsoft_outlook/saas~15.5.1.1/end-migrate.py
  migrations/microsoft_outlook/saas~15.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] util/orm: Selection.convert_to_cache disable validation on create
  migrations/base/0.0.0/pre-models-match_uniq.py
  migrations/util/orm.py
Due: no-license-comment, bad-import-000

[ADD] test_mail/saas~15.5: rename field
  migrations/test_mail/saas~15.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] tools/matt.py: add option to dump progress to a file
  tools/matt.py
Due: no-license-comment

[FIX] base/0.0.0: fix-views, ensure primary custom views are validated
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] l10n_pe/saas~14.3: move the document types to the right module
  migrations/l10n_pe/saas~14.3.1.3/pre-migrate.py
Due: no-license-comment

[IMP] util/modules.py: use remove_records
  migrations/util/modules.py
Due: no-license-comment

[IMP] hr_payroll/saas~15.5: Remove FTE fields
  migrations/hr_payroll/saas~15.5.1.0/pre-migrate.py
  migrations/l10n_be_hr_contract_salary/saas~15.5.1.0/pre-migrate.py
  migrations/l10n_be_hr_payroll/saas~15.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] survey/saas~12.2: add IF EXISTS
  migrations/survey/saas~12.2.3.0/pre-models.py
Due: no-license-comment

[IMP] l10n_gcc_invoice/15.0: remove view
  migrations/l10n_gcc_invoice/15.0.1.0/pre-10-views.py
Due: no-license-comment
