Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] hr_payroll/saas~18.1: Introduce generic master report
  migrations/l10n_ae_hr_payroll/saas~18.1.1.0/pre-migrate.py
  migrations/l10n_eg_hr_payroll/saas~18.1.1.0/pre-migrate.py
  migrations/l10n_sa_hr_payroll/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents_spreadsheet/tests
  migrations/documents_spreadsheet/tests/test_17_5.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~17.5: fix typo in is_sent field
  migrations/account/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

[FIX] l10n_au_hr_payroll/saas~17.5: fix query errors
  migrations/l10n_au_hr_payroll/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_ro_edi/saas~17.5: check if table exists
  migrations/l10n_ro_edi/saas~17.5.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] account/0.0.0: Refactor Tax Mapping (Nested Group Tax)
  migrations/account/0.0.0/post-account_tax.py
Due: no-license-comment, bad-import-000

[IMP] base/saas~18.1
  migrations/base/saas~18.1.1.3/pre-10-modules.py
  migrations/base/saas~18.1.1.3/pre-migrate.py
Due: no-license-comment

[FIX] sale_timesheet_enterprise/17.0: remove view introduced in bug fix
  migrations/sale_timesheet_enterprise/17.0.0.1/pre-migrate.py
Due: no-license-comment

[FIX] account/saas~17.5: set correct column type
  migrations/account/saas~17.5.1.2/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0/pre-fix-sequences.py: skip non-int `id` cols
  migrations/base/0.0.0/pre-fix-sequences.py
Due: no-license-comment, bad-import-000

[IMP] account/saas~18.1.1.3: Removed unnused field in account.move
  migrations/account/saas~18.1.1.3/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5: point documents_facet to documents_document
  migrations/documents/saas~17.5.1.4/end-migrate.py
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[IMP] sale_subscription/saas~17.5: add last_invoiced_date
  migrations/sale_subscription/saas~17.5.1.1/pre-last_invoiced_date.py
Due: no-license-comment

[IMP] sale_subscription/saas~17.5: update require payment value of sub
  migrations/sale_subscription/saas~17.5.1.1/pre-last_invoiced_date.py
Due: no-license-comment

[MOV] base/saas~18.1: merge both totp mail modules
  migrations/base/saas~18.1.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] account_report/saas~18.1: revert totals below sections removal
  migrations/account_reports/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale_subscription/saas~18.1: remove duplicated close reason
  migrations/sale_subscription/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment

[IMP] hr_timesheet/saas~18.1: remove 2 fields from Tasks Analysis report
  migrations/hr_timesheet/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_br/saas~18.1: clean up company fields/columns
  migrations/l10n_br/saas~18.1.1.0/pre-company-fields.py
Due: no-license-comment

[IMP] event/saas~18.1: remove esc_label_96x134_badge view
  migrations/event/saas~18.1.1.9/pre-migrate.py
Due: no-license-comment

[ADD] {auth_totp,base}/saas~17.5: add expiration_date column
  migrations/auth_totp/saas~17.5.1.0/pre-migrate.py
  migrations/base/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

[FIX] base/tests: allow to craw views with a restricted admin
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[IMP] base/tests: code improvements
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[ADD] pre-commit: semgrep
  .pre-commit-config.yaml
  semgrep.yaml
Due: none

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[FIX] base/saas~17.5
  migrations/base/saas~17.5.1.3/pre-twitter.py
Due: no-license-comment

[FIX] base/saas~17.5: convert more trees to lists
  migrations/base/saas~17.5.1.3/pre-10-ir_ui_view.py
Due: no-license-comment

[FIX] l10n_be_hr_payroll/saas~17.5: remove non-stored columns
  migrations/l10n_be_hr_payroll/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] sale/tests: Patch configuration check for MX
  migrations/sale/tests/test_16_2_amount_to_invoice_compute.py
Due: no-license-comment, bad-import-000

[FIX] account/tests: Don't use latam documents
  migrations/account/tests/test_16_5_analytic_plan.py
Due: no-license-comment, bad-import-000

[IMP] pos_restaurant_appointment/saas~18.1: remove inherited view
  migrations/pos_restaurant_appointment/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] marketing_card/saas~18.1: rename XML ID
  migrations/marketing_card/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] l10n_lu_hr_payroll/saas~17.4: Missing record removal
  migrations/l10n_lu_hr_payroll/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5: consider there may be no duplicate tags
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[FIX] account/saas~16.2: Set correct tax group account
  migrations/account/saas~16.2.1.2/pre-migrate.py
Due: no-license-comment

[FIX] sale/saas~18.1: remove fields from views
  migrations/sale/saas~18.1.1.2/pre-migrate.py
Due: no-license-comment

[FIX] website/17.0.1.0: set a cowed view in inherit for related website
  migrations/website/17.0.1.0/post-migrate.py
Due: no-license-comment

[FIX] point_of_sale/17.0: Fix validation error for same journal
  migrations/point_of_sale/0.0.0/pre-ensure-poss-journal.py
Due: no-license-comment, bad-import-000

[FIX] hr_holidays_attendance/0.0.0: remove unnecessary view
  migrations/hr_holidays_attendance/0.0.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[IMP] point_of_sale/saas~18.1: Rename fields
  migrations/point_of_sale/saas~18.1.1.0.1/pre-migrate.py
  migrations/pos_preparation_display/saas~18.1.1.0.0/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
