Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[FIX] base/saas~16.2: fix unable to pay invoice from portal after upg.
  migrations/base/saas~16.2.1.3/pre-06-icp-portal-payments.py
Due: no-license-comment

[FIX] event_*/saas~16.2: price_incl is not store
  migrations/event_booth_sale/saas~16.2.1.1/post-migrate.py
  migrations/event_booth_sale/saas~16.2.1.1/pre-migrate.py
  migrations/event_sale/saas~16.2.1.2/post-migrate.py
  migrations/event_sale/saas~16.2.1.2/pre-migrate.py
Due: no-license-comment

[ADD] util.records: reload translations on record reset
  migrations/base/tests/test_util.py
  migrations/util/records.py
Due: no-license-comment, bad-import-000

[FIX] board/16.0.1.0: Resolve duplicate menu issue
  migrations/board/16.0.1.0/pre-update_menu.py
  migrations/board/saas~16.2.1.0/pre-update_menu.py
  migrations/board/saas~16.3.1.0/pre-update_menu.py
Due: no-license-comment

[FIX] base/0.0.0: `DROP FUNCTION` needs params list in PG9.5
  migrations/base/0.0.0/pre-res_partner_bank.py
Due: no-license-comment, bad-import-000

[REF] base/0.0.0: move `_upgrade_fix_views` out of class
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: try to move more tags
  migrations/base/0.0.0/pre-models-ir_ui_view.py
  migrations/base/tests/test_fix_views.py
Due: no-license-comment, bad-import-000

[REF] base/0.0.0: reorder patches by odoo version
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: handle conflicting groups for fields
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: do not re-anchor position inside or attributes
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[chore] ruff suggestions applied
  migrations/base/0.0.0/pre-models-ir_ui_view.py
  migrations/base/tests/test_fix_views.py
Due: no-license-comment, bad-import-000

[FIX] mrp/saas~13.4.2.0: fix missing move_finished_ids for draft MOs
  migrations/mrp/saas~13.4.2.0/end-migrate.py
  migrations/mrp/tests/test_mrp_v14.py
Due: no-license-comment, bad-import-000

[FIX] {website_blog,website_event}/saas~13.2: fixmixin NULL case
  migrations/website/saas~13.2.1.0/fixmixin.py
Due: no-license-comment

[FIX] base/0.0.0: clean `__export__` entries in `ir_model_data`
  migrations/base/0.0.0/pre-reindex-ir_model_data.py
Due: no-license-comment, bad-import-000

[IMP] sale_planning,_*/saas~16.4: remove report search views
  migrations/planning/saas~16.4.1.0/pre-migrate.py
  migrations/planning_hr_skills/saas~16.4.1.0/pre-migrate.py
  migrations/project_forecast/saas~16.4.1.0/pre-migrate.py
  migrations/project_timesheet_forecast/saas~16.4.1.0/pre-migrate.py
  migrations/sale_planning/saas~16.4.1.0/pre-migrate.py
  migrations/sale_project_forecast/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] stock_barcode/saas~16.4: remove picking related fields
  migrations/stock_barcode/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_in_hr_payroll/saas~16.4: remove rules and category
  migrations/l10n_in_hr_payroll/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] gmail: circular dependencies and string refs
  gmail/src/models/lead.ts
  gmail/src/models/partner.ts
  gmail/src/models/project.ts
  gmail/src/models/state.ts
  gmail/src/models/task.ts
  gmail/src/models/ticket.ts
  gmail/src/services/app_properties.ts
  gmail/src/services/log_email.ts
  gmail/src/services/odoo_auth.ts
  gmail/src/services/translation.ts
  gmail/src/views/card_actions.ts
  gmail/src/views/company.ts
  gmail/src/views/create_task.ts
  gmail/src/views/debug.ts
  gmail/src/views/error.ts
  gmail/src/views/helpers.ts
  gmail/src/views/index.ts
  gmail/src/views/leads.ts
  gmail/src/views/login.ts
  gmail/src/views/partner.ts
  gmail/src/views/partner_actions.ts
  gmail/src/views/search_partner.ts
  gmail/src/views/tasks.ts
  gmail/src/views/tickets.ts
Due: none

[FIX] gmail: minor typescript issues
  gmail/src/const.ts
  gmail/src/main.ts
  gmail/src/utils/http.ts
  gmail/src/views/company.ts
  gmail/src/views/helpers.ts
  gmail/src/views/icons.ts
  gmail/tsconfig.json
Due: none

[FIX] hr_appraisal/saas~16.4: remove fields not used anymore
  migrations/hr_appraisal/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] account/16.0.1.2: check for posted
  migrations/account/16.0.1.2/pre-migrate.py
Due: no-license-comment

[FIX] account/16.0.1.2: check name null
  migrations/account/16.0.1.2/pre-migrate.py
Due: no-license-comment

[FIX] account/tests: use the latest CoA
  migrations/account/tests/test_account_pocalypse.py
Due: no-license-comment, bad-import-000

[IMP] sale_project/saas~16.4: rename sale_line_name in project milestone
  migrations/sale_project/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] util/{specific,pg,models}.py: Extract rename_table util
  migrations/util/models.py
  migrations/util/pg.py
  migrations/util/specific.py
Due: no-license-comment

[FIX] helpdesk/saas~15.1.1.4: do not migrate team followers
  migrations/helpdesk/saas~15.1.1.4/pre-migrate.py
Due: no-license-comment

[FIX] gmail: use rollup to avoid ES6 imports
  gmail/.claspignore
  gmail/.gitignore
  gmail/README.md
  gmail/package.json
  gmail/rollup.config.js
  gmail/tsconfig.json
Due: none

[FIX] account_reports_cash_basis/saas~16.3: correct xmlid
  migrations/account_reports_cash_basis/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_reports_cash_basis/saas~16.3
  migrations/account_reports_cash_basis/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[ADD] base/tests: test_ensure_xmlid_match_record
  migrations/base/tests/test_util.py
Due: no-license-comment, bad-import-000

[IMP] util.ensure_xmlid_match_record: search harder
  migrations/util/records.py
Due: no-license-comment

[IMP] knowledge/saas~16.4: remove view
  migrations/knowledge/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] sale_temporal/saas~15.3: recompute currency_id
  migrations/sale_temporal/saas~15.3.1.0/end-compute.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3: fix memory error
  migrations/sale_subscription/saas~15.3.1.1/end-migrate.py
Due: no-license-comment

[FIX] website/saas~16.2: skip arch update if no popups found
  migrations/website/saas~16.2.1.0/end-all-pages-popup.py
Due: no-license-comment

[FIX] account/saas~12.4.1.1: correctly transfer custom fields
  migrations/account/saas~12.4.1.1/end-20-transfer-custom-fields.py
  migrations/account/saas~12.4.1.1/pre-10-fieldsinmoves.py
  migrations/account/saas~12.4.1.1/pre-10-transfer-custom-fields.py
  migrations/account/saas~12.4.1.1/pre-20-customfieldsinmoves.py
Due: no-license-comment

[IMP] account_reports/saas~16.4: transfer config param to report
  migrations/account_asset/saas~16.4.1.0/pre-migrate.py
  migrations/account_reports/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] loyalty/saas~15.3.1.0: set discount line product for rewards
  migrations/loyalty/saas~15.3.1.0/end-migrate.py
Due: no-license-comment

[FIX] account/0.0.0: recompute is_matched
  migrations/account/0.0.0/end-fix_is_matched.py
  migrations/hr_expense/tests/test_hr_expense_sheet.py
Due: no-license-comment, bad-import-000

[FIX] account_reports/0.0.0: Remove incorrect script
  migrations/account_reports/0.0.0/pre-unique_financial_codes.py
Due: no-license-comment, bad-import-000

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
