Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[FIX] project_mrp/saas~17.5 - Fix missing column for analytic plans
  migrations/project_mrp/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr,l10n_{be,sa,hk}_hr_payroll/saas~18.1: departure reason country
  migrations/hr/saas~18.1.1.1/end-migrate.py
  migrations/hr/saas~18.1.1.1/pre-migrate.py
  migrations/l10n_be_hr_payroll/saas~18.1.1.0/pre-migrate.py
  migrations/l10n_sa_hr_payroll/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale_subscription/saas~18.1: remove sale order alert
  migrations/sale_subscription/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment

[ADD] base/0.0.0: add pos_blackbox_be upgrade version
  migrations/base/0.0.0/pre-00-checks.py
Due: no-license-comment, bad-import-000

[FIX] documents/saas~17.5: Create tags and server actions in post script
  migrations/documents/saas~17.5.1.4/post-migrate.py
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents_account/saas~17.5.1.0/post-migrate.py
  migrations/documents_fleet/saas~17.5.1.0/post-migrate.py
  migrations/documents_hr_expense/saas~17.5.1.0/post-migrate.py
  migrations/documents_hr_recruitment/saas~17.5.1.0/post-migrate.py
  migrations/documents_product/saas~17.5.1.0/post-migrate.py
  migrations/documents_project/saas~17.5.1.0/post-migrate.py
  migrations/documents_sign/saas~17.5.1.0/post-migrate.py
Due: no-license-comment

[FIX] documents_project/saas~17.5: Ensure demo xmlids exist
  migrations/documents_project/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] hr_expense_extract/saas~17.2: remove mixin
  migrations/hr_expense_extract/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] sale_project/saas~16.3: skip warning for leftover constraint
  migrations/sale_project/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[chore] pre-commit: blacklist py2 incompatible rule
  ruff.toml
Due: none

[IMP] l10n_no/saas~18.1: add standard tax code
  migrations/l10n_no/saas~18.1.2.1/post-migrate.py
Due: no-license-comment

[IMP] hr_payroll/saas~18.1: Remove number field
  migrations/hr_payroll/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] event_sale/saas~18.1: share state between event and pos
  migrations/event_product/saas~18.1.1.0/pre-migrate.py
  migrations/pos_event/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] website/0.0.0: neutralize COWed core layout templates
  migrations/website/0.0.0/post-cowed-layout.py
  migrations/website/0.0.0/pre-cowed-layout.py
  migrations/website/tests/__init__.py
  migrations/website/tests/test_cowed_layout.py
Due: no-license-comment, bad-import-000

[FIX] documents_sign/saas~17.5 : Update Default Record
  migrations/documents_sign/saas~17.5.1.0/post-migrate.py
Due: no-license-comment

[IMP] web/saas~18.1.1.0: remove `web.qunit_mobile_suite` view
  migrations/web/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_lu_reports/saas~16.5: get only model fields
  migrations/l10n_lu_reports/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[IMP] stock/tests: skip some products' qty check
  migrations/stock/tests/test_on_hand_quantity.py
Due: no-license-comment, bad-import-000

[IMP] */saas~17.5: Enhance handling for replacing <tree> in <list>
  migrations/base/saas~17.5.1.3/pre-10-ir_ui_view.py
Due: no-license-comment

[FIX] l10n_be_hr_contract_salary/saas~18.1: remove unused field
  migrations/l10n_be_hr_contract_salary/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5.1.4: add missing return
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~17.5: replace /tree in //list for xpath in arch
  migrations/base/saas~17.5.1.3/pre-10-ir_ui_view.py
Due: no-license-comment

[chore] pre-commti autoupdate
  .pre-commit-config.yaml
Due: none

[IMP] pre-commit: use dedicated `pre-commit` repo for semgrep
  .pre-commit-config.yaml
Due: none

[FIX] account/saas~16.2: fix tax group duplication
  migrations/account/saas~16.2.1.2/pre-migrate.py
Due: no-license-comment

[FIX] spreadsheet_edition/saas~17.2: handle broken revision history
  migrations/spreadsheet_edition/saas~17.2.1.0/pre-migrate.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_broken_revision_history.py
  migrations/spreadsheet_edition/tests/test_broken_revision_history_with_no_snapshot.py
Due: no-license-comment, bad-import-000

[FIX] l10n_lu_hr_payroll/saas~17.5: rename xmlid of salary rule
  migrations/l10n_lu_hr_payroll/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5: select distinct to avoid conflict
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: Fix missing action
  migrations/base/0.0.0/end-clean-actions.py
Due: no-license-comment, bad-import-000

[IMP] pos_self_order,pos_restaurant/saas~18.1: preconfigured taxes PoS
  migrations/pos_restaurant/saas~18.1.1.0/pre-migrate.py
  migrations/pos_self_order/saas~18.1.1.0/pre-migrate.py
  migrations/pos_self_order_preparation_display/saas~18.1.1.0.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~17.5: replace multiple occurrence of tree
  migrations/base/saas~17.5.1.3/pre-10-ir_ui_view.py
Due: no-license-comment

[IMP] project{_enterprise}/saas~18.1: remove project sharing views
  migrations/project/saas~18.1.1.3/pre-migrate.py
  migrations/project_enterprise/saas~18.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] point_of_sale/saas~18.1: remove view
  migrations/point_of_sale/saas~18.1.1.0.1/pre-migrate.py
Due: no-license-comment

[IMP] account_accountant/saas~18.1: remove `exception_needed` field
  migrations/account_accountant/saas~18.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] documents/saas~17.5: clean up manual tag creation
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[FIX] l10n_in/saas~17.5: Load Chart Template Data Properly
  migrations/l10n_in/saas~17.5.2.0/end-migrate.py
Due: no-license-comment

[FIX] spreadsheet_edition/saas~17.2: track revision history properly
  migrations/spreadsheet_edition/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~18.1: remove pos_urban_piper_*
  migrations/base/saas~18.1.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] account/saas~18.1: Renamed field price_total
  migrations/account/saas~18.1.1.3/pre-migrate.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3: fixed invoice_count
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
  migrations/sale_subscription/tests/__init__.py
  migrations/sale_subscription/tests/test_sale_subscription_invoice_link.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~17.5 : Update Modified Language
  migrations/base/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
