Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] project_todo/saas~17.1: remove record of reminder activity type
  migrations/project_todo/saas~17.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_be_hr_payroll/saas~16.5: Fix employee declaration res_model
  migrations/l10n_be_hr_payroll/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[IMP] stock_barcode_mrp/saas~17.1: move scrap view to stock_barcode
  migrations/stock_barcode_mrp/saas~17.1.1.0/pre-migrate.py
Due: no-license-comment

[IMP] stock/saas~16.5: mix of qty_done and reserved_qty
  migrations/stock/saas~16.5.1.1/end-migrate.py
  migrations/stock/saas~16.5.1.1/pre-migrate.py
  migrations/stock/tests/__init__.py
  migrations/stock/tests/test_end_of_qty_done.py
Due: no-license-comment, bad-import-000

[IMP] base/saas~17.1: remove `res.partner.date`
  migrations/base/saas~17.1.1.3/pre-20-fields.py
Due: no-license-comment

[FIX] analytic/saas~16.5: added default analytic_plan_id
  migrations/analytic/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~17.1.1.3: rename account_bacs to l10n_uk_bacs
  migrations/base/saas~17.1.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] l10n_be_hr_payroll/saas~16.5: fix sql literal value
  migrations/l10n_be_hr_payroll/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[FIX] l10n_be_hr_payroll/saas~16.5
  migrations/l10n_be_hr_payroll/saas~16.5.1.0/post-migrate.py
Due: no-license-comment

[FIX] base/saas~16.5: arch variable reference before assignment
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3: Correctly handle mail messages
  migrations/sale_subscription/saas~15.3.1.1/end-migrate.py
Due: no-license-comment

[IMP] Stock/saas~14.1 : keep currently used reordering rules
  migrations/stock/saas~14.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~16.5: correctly inline extra attrs
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
  migrations/base/tests/test_attrs_views.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~16.5: reset all modifiers on attrs reset
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
  migrations/base/tests/test_attrs_views.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~16.5: remove whitespaces before parse
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
Due: no-license-comment

[FIX] base/saas~17.1: subcontracting typo
  migrations/base/saas~17.1.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] worksheet/saas~17.1: remove field not used anymore
  migrations/industry_fsm_report/saas~17.1.1.0/pre-migrate.py
  migrations/worksheet/saas~17.1.1.0/pre-migrate.py
Due: no-license-comment

[ADD] website_sale_product_configurator/17.0
  migrations/website_sale_product_configurator/17.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] point_of_sale/saas~17.1: move xmlid from pos to pos_discount
  migrations/point_of_sale/saas~17.1.1.0.1/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: except AttributeError while removing parent
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~16.5: use local parse utility
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
Due: no-license-comment

[FIX] base/saas~16.5: ignore qweb views
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
Due: no-license-comment

[FIX] base/saas~16.5: keep `arch.text` upon upgrade
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
  migrations/base/tests/test_attrs_views.py
Due: no-license-comment, bad-import-000

[IMP] hr_timesheet/saas~17.1: recompute project_task progress
  migrations/hr_timesheet/saas~17.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~16.5: skip invalid `attrs`
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
Due: no-license-comment

[IMP] base/0.0.0: report disable view error
  migrations/base/0.0.0/pre-models-ir_ui_view.py
Due: no-license-comment, bad-import-000

[IMP] account/saas~17.1: Remove fields of payments follow up for journal
  migrations/account/saas~17.1.1.2/pre-migrate.py
Due: no-license-comment

[chore] lint: ignore `RET505` ruff rule
  pyproject.toml
Due: none

[FIX] base/saas~16.5: fix act server convertion
  migrations/base/saas~16.5.1.3/pre-00-ir_act_server.py
Due: no-license-comment

[FIX] analytic/saas~16.5: saved account_analytic_plan record
  migrations/analytic/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] microsoft_calendar/saas~17.1: save microsoft ids in two fields
  migrations/microsoft_calendar/saas~17.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] acccount_asset/15.0: avoid unposted lines linked to assets
  migrations/account_asset/15.0.1.0/pre-migrate.py
  migrations/account_asset_ndt/15.0.1.0/post-recompute.py
Due: no-license-comment

[FIX] purchase/17.0.1.2: fix memory error
  migrations/purchase/17.0.1.2/post-recompute.py
  migrations/purchase/17.0.1.2/pre-migrate.py
Due: no-license-comment

[FIX] loyalty/saas~15.3: Fix Missing discounted specific_products
  migrations/loyalty/saas~15.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~16.5: fix 'in'/'not in' convertion in `attrs`
  migrations/base/saas~16.5.1.3/end-01-attrs-views.py
  migrations/base/tests/test_attrs_views.py
Due: no-license-comment, bad-import-000

[FIX] base/7.saas~2
  migrations/base/7.saas~2.1.3/pre-40-crm-rename-sales_team.py
Due: no-license-comment

[chore] base/7.saas~2: format file
  migrations/base/7.saas~2.1.3/pre-40-crm-rename-sales_team.py
Due: no-license-comment

[IMP] base,hr_timesheet,project/saas~17.1 : remove tooltips
  migrations/base/saas~17.1.1.3/post-migrate.py
  migrations/hr_timesheet/saas~17.1.1.0/pre-migrate.py
  migrations/project/saas~17.1.1.3/pre-migrate.py
Due: no-license-comment

[FIX] l10n_in/16.0: avoid duplicate record for relational table
  migrations/l10n_in/16.0.2.0/post-migration.py
Due: no-license-comment

[FIX] account_reports/16.0: better matching
  migrations/account_reports/16.0.1.0/end-10-migrate-financial-reports.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
