Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[FIX] base/0.0.0: remove check is_company from the clause
  migrations/base/0.0.0/pre-remove-invalid-partner-company.py
Due: no-license-comment, bad-import-000

[IMP] l10n_ma_reports/saas~17.5.1.0: get rid of l10n_ma_ice
  migrations/l10n_ma_reports/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] mrp_mps/saas~17.5: remove manufacturing_period_to_display
  migrations/mrp_mps/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[chore] base/0.0.0: lint file
  migrations/base/0.0.0/pre-models-ir_module_module.py
Due: no-license-comment, bad-import-000

[IMP] base/0.0.0
  migrations/base/0.0.0/pre-models-ir_module_module.py
Due: no-license-comment, bad-import-000

[FIX] project/0.0.0: unset default user_id for stages used by a project
  migrations/project/0.0.0/pre-clean_project_task_type.py
Due: no-license-comment, bad-import-000

[FIX] payment/0.0.0: execute script until 18.0
  migrations/payment/0.0.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[IMP] l10n_ph/saas~17.5: withholding tax reports
  migrations/l10n_ph/saas~17.5.1.1/post-migrate.py
  migrations/l10n_ph/saas~17.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] l10n_latam_check/saas~17.4.1.0: from one to multiple checks
  migrations/l10n_latam_check/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] sale/saas~17.3: removed tree and kanban view_mode
  migrations/sale/saas~17.3.1.2/pre-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~17.5: add week_start to locale
  migrations/spreadsheet_edition/saas~17.5.1.0/post-migrate.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_locale.py
Due: no-license-comment, bad-import-000

[IMP] project/saas~16.4: recursive CTE endless loop
  migrations/project/saas~16.4.1.2/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/saas~17.5: remove field
  migrations/account_reports/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[chore] */17.0+: lint files
  migrations/stock/saas~17.3.1.1/pre-migrate.py
  migrations/website/17.0.1.0/pre-migrate.py
  migrations/website/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
  ruff.toml
Due: none

[FIX] account_accountant/saas~16.4
  migrations/account_accountant/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[ADD] l10n_in_reports_gstr/saas~17.4
  migrations/l10n_in_reports_gstr/saas~17.4.1.0/pre-upgrade.py
Due: no-license-comment

[IMP] project,sale,_*/saas~17.5: remove and update fields/views
  migrations/analytic/saas~17.5.1.1/post-migrate.py
  migrations/base/saas~17.5.1.3/pre-10-modules.py
  migrations/mrp_account/saas~17.5.1.0/end-migrate.py
  migrations/mrp_account/saas~17.5.1.0/pre-migrate.py
  migrations/mrp_account/tests/__init__.py
  migrations/mrp_account/tests/test_migrate_analytic_distribution.py
  migrations/project/saas~17.5.1.3/pre-migrate.py
  migrations/project/tests/__init__.py
  migrations/project/tests/test_migrate_analytic_account_id.py
  migrations/project_mrp/saas~17.5.1.0/pre-migrate.py
  migrations/sale/saas~17.5.1.2/pre-migrate.py
  migrations/sale_project/saas~17.4.1.0/pre-migrate.py
  migrations/sale_renting/saas~17.5.1.0/pre-migrate.py
  migrations/sale_subscription/saas~17.5.1.1/pre-migrate.py
  migrations/sale_timesheet/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] microsoft_calendar/saas~17.2: set calendar_default_privacy
  migrations/microsoft_calendar/saas~17.2.1.0/post-migrate.py
Due: no-license-comment

[FIX] mrp_account/tests: prevent import error
  migrations/mrp_account/tests/test_migrate_analytic_distribution.py
Due: no-license-comment, bad-import-000

[FIX] documents_hr_recruitment/saas~17.5: Update document workflow rule
  migrations/documents_hr_recruitment/saas~17.5.1.0/post-migrate.py
Due: no-license-comment

[IMP] iap/saas~17.5: refactor iap account model
  migrations/iap/0.0.0/pre-models.py
  migrations/iap/saas~17.5.1.1/end-migrate.py
  migrations/iap/saas~17.5.1.1/pre-migrate.py
  migrations/iap/tests/__init__.py
  migrations/iap/tests/test_refactor_account.py
Due: no-license-comment, bad-import-000

[IMP] hr_contract_salary/saas~17.5: make better benefit UX
  migrations/hr_contract_salary/saas~17.5.2.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_es_edi_*/saas~17.5.1.1: remove tbai dependency to account_edi
  migrations/l10n_es_edi_sii/saas~17.5.1.1/pre-migrate.py
  migrations/l10n_es_edi_tbai/saas~17.5.1.1/end-migrate.py
  migrations/l10n_es_edi_tbai/saas~17.5.1.1/post-migrate.py
  migrations/l10n_es_edi_tbai/tests/__init__.py
  migrations/l10n_es_edi_tbai/tests/test_17_5_tbai_document.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~16.5: complexity of matching number computation
  migrations/account/saas~16.5.1.2/pre-migrate.py
Due: no-license-comment

[FIX] account_asset_ndt/15.0: allow to remove move lines related assets
  migrations/account_asset_ndt/15.0.1.0/post-recompute.py
Due: no-license-comment

[IMP] sale_timesheet/saas~17.5: update timesheet_invoice_type
  migrations/sale_timesheet/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account/0.0.0: order repartition lines
  migrations/account/0.0.0/pre-make-repartition-lines.py
Due: no-license-comment, bad-import-000

[ADD] web_studio/saas~17.5: remove view "web_studio.request_approval"
  migrations/web_studio/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] appointment/saas~17.5: display upcoming on kanban
  migrations/appointment/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~16.4
  migrations/base/saas~16.4.1.3/end-migrate.py
Due: no-license-comment

[FIX] l10n_mx/saas~17.{2,4}: fix repartition lines order
  migrations/l10n_mx/saas~17.2.2.2/pre-migrate.py
  migrations/l10n_mx/saas~17.4.2.2/pre-migrate.py
Due: no-license-comment

[IMP] website/saas~17.5: website_controller_page is master main object
  migrations/website/saas~17.5.1.0/pre-10-page-record_view_id.py
  migrations/website/saas~17.5.1.0/pre-20-name_slugified.py
  migrations/website/tests/__init__.py
  migrations/website/tests/test_17_5_unique_website_controller_page.py
  migrations/website/tests/test_17_5_website_controller_page_m2o_record.py
Due: no-license-comment, bad-import-000

[IMP] l10n_in/saas~17.5.2.0: remove `l10n_in_hsn_description` field
  migrations/l10n_in/saas~17.5.2.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_attendance/saas~17.5: Remove overtime setting
  migrations/hr_attendance/saas~17.5.1.0/pre-migrate.py
  migrations/hr_attendance/tests/__init__.py
  migrations/hr_attendance/tests/test_migrate_overtime_validation_17_5.py
  migrations/hr_holidays_attendance/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[IMP] hr/saas~17.5: update request_hour_(from, to) in hr.leave
  migrations/hr_holidays/saas~17.5.1.6/pre-migrate.py
Due: no-license-comment

[IMP] appointment/saas~17.5: rename XML id
  migrations/appointment/saas~17.5.1.3/pre-migrate.py
Due: no-license-comment

[IMP] l10n_ae_hr_payroll/saas~17.4: add master report
  migrations/l10n_ae_hr_payroll/saas~17.5.1.0/post-migrate.py
Due: no-license-comment

[IMP] l10n_au_hr_payroll*/saas~17.5.1.0: Salary Rules Revamp
  migrations/l10n_au_hr_payroll/saas~17.5.1.0/pre-migrate.py
  migrations/l10n_au_hr_payroll_account/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
