Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message
    - id: gitlint-ci
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message

  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
    - id: ruff
      name: Check code with Ruff, apply automatic fixes
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
      name: Format code with Ruff automatically
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[IMP] hr/saas~17.4: initialize distance home-work field
  migrations/hr/saas~17.4.1.1/pre-migrate.py
Due: no-license-comment

[IMP] sale_timesheet_enterprise/saas~17.4: populate/remove fields
  migrations/sale_timesheet_enterprise/saas~17.4.0.1/pre-migrate.py
  migrations/sale_timesheet_enterprise/tests/__init__.py
  migrations/sale_timesheet_enterprise/tests/test_migrate_hr_employee_billing_rate_target.py
Due: no-license-comment, bad-import-000

[IMP] l10n_br/saas~17.4.1.0: set the new address_view_id on Brazil
  migrations/l10n_br/saas~17.4.1.0/post-migrate.py
Due: no-license-comment

[FIX] event/saas~17.4: move 'date_range' field
  migrations/event/saas~17.4.1.9/pre-migrate.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3.1.1: handle custom translation move
  migrations/sale_subscription/saas~15.3.1.1/end-migrate.py
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment

[chore] sale_subscription/saas~15.3.1.1: fix ruff violations
  migrations/sale_subscription/saas~15.3.1.1/end-migrate.py
Due: no-license-comment

[FIX] repair/saas~16.4: recorrect fix to save all operations
  migrations/repair/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sign/saas~17.4: rename xmlid
  migrations/sign/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] account,*/saas~17.4: remove account.move.send warning fields
  migrations/account/saas~17.4.1.2/pre-migrate.py
  migrations/account_edi_ubl_cii/saas~17.4.1.0/pre-migrate.py
  migrations/account_peppol/saas~17.4.1.0/pre-migrate.py
  migrations/l10n_br_edi/saas~17.4.1.0/pre-migrate.py
  migrations/l10n_hu_edi/saas~17.4.1.0/pre-migrate.py
  migrations/l10n_it_edi/saas~17.4.0.4/pre-migrate.py
  migrations/l10n_ke_edi_tremol/saas~17.4.1.0/pre-migrate.py
  migrations/snailmail_account/saas~17.4.0.1/pre-migrate.py
Due: no-license-comment

[FIX] pos_blackbox_be/14.0: Fix singleton Error
  migrations/pos_blackbox_be/14.0.1.0/end-migrate.py
Due: no-license-comment

[FIX] account/saas~17.4: fix hash test that uses company from env
  migrations/account/tests/test_inalterable_hash_v3_to_v4.py
Due: no-license-comment, bad-import-000

[IMP] l10n_cl_edi/saas~17.4: Merged l10n_cl_edi_boletas
  migrations/base/saas~17.4.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] {web,*}/saas~17.4: review z-index utilities
  migrations/website/saas~17.4.1.0/pre-migrate-bootstrap.py
Due: no-license-comment

[IMP] hr_holidays/saas~17.4: Remove multi leave/allocations
  migrations/hr_holidays/saas~17.4.1.6/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~17.4: merge account_audit_trail to account
  migrations/account/saas~17.4.1.2/pre-migrate.py
  migrations/account_audit_trail/saas~17.4.1.0/pre-migrate.py
  migrations/base/saas~17.4.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] data_cleaning/saas~17.4: Bind contextual action to bridge module
  migrations/data_merge_crm/saas~17.4.1.0/pre-migrate.py
  migrations/data_merge_helpdesk/saas~17.4.1.0/pre-migrate.py
  migrations/data_merge_project/saas~17.4.1.0/pre-migrate.py
  migrations/data_merge_utm/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_presence/saas~17.4: Improve sms/mail templates
  migrations/hr_presence/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_referral/saas~17.4: Force ir.rule update
  migrations/hr_referral/saas~17.4.1.0/post-migrate.py
  migrations/hr_referral/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3.1.1: handle custom field restoring
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment

[FIX] spreadsheet_edition/saas~17.3: fix PIVOT.* migration
  migrations/spreadsheet_edition/saas~17.3.1.0/pre-migrate.py
  migrations/spreadsheet_edition/tests/test_rename_pivot_functions.py
Due: no-license-comment, bad-import-000

[FIX] spreadsheet_edition/saas~17.3: fix chart commands migration
  migrations/spreadsheet_edition/saas~17.3.1.0/pre-migrate-chart.py
  migrations/spreadsheet_edition/tests/test_chart_commands.py
Due: no-license-comment, bad-import-000

[IMP] mail/saas~17.3: Reuse existing admin channel
  migrations/mail/saas~17.3.1.17/post-migrate.py
  migrations/mail/saas~17.3.1.17/pre-migrate.py
Due: no-license-comment

[FIX] tools/inject-trigger: typo
  tools/inject-trigger
Due: none

[ADD] base/17.0: Backport SEPA Direct Debit version
  migrations/base/17.0.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] account_asset_ndt/15.0.1.0: Unlink wrong Journal Items
  migrations/account_asset_ndt/15.0.1.0/post-recompute.py
Due: no-license-comment

[ADD] website_event/17.0: warn when cowed views are present
  migrations/website_event/17.0.1.4/end-migrate.py
Due: no-license-comment

[FIX] base/saas~17.2: prevent removal of country groups
  migrations/base/saas~17.2.1.3/pre-10-modules.py
Due: no-license-comment

[chore] base/saas~17.2: ruff UP009
  migrations/base/saas~17.2.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] loyalty/0.0.0 : Loyalty program performance issue
  migrations/loyalty/0.0.0/post-migrate.py
Due: no-license-comment, bad-import-000

[FIX] website_sale/17.0: fixed website_sale.product cowed view
  migrations/website_sale/17.0.1.1/end-update-cowed-view.py
Due: no-license-comment

[FIX] website/saas~17.2:Add the conditon for cowed view
  migrations/website/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[IMP] mrp/saas~17.4: remove confirm_cancel field
  migrations/mrp/saas~17.4.1.1/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~17.4: replace last by previous
  migrations/account/saas~17.4.1.2/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: cleanup empty default
  migrations/base/0.0.0/pre-clean-ir_default.py
Due: no-license-comment, bad-import-000

[FIX] l10n_cl_reports/saas~16.1: remove deprecated report line
  migrations/l10n_cl_reports/saas~16.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] appointment/saas~17.4: fix resource calendar gap
  migrations/appointment/saas~17.4.1.3/pre-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[FIX] account/saas~17.4: remove view
  migrations/account/saas~17.4.1.2/pre-migrate.py
Due: no-license-comment

[FIX] sale_subscription/saas~15.3: fix sol constraint violation
  migrations/sale_subscription/saas~15.3.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: remove failing saas view
  migrations/base/0.0.0/pre-saas_trial.py
Due: no-license-comment, bad-import-000
