Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[chore] *: ruff
  migrations/account_sepa/saas~13.2.1.0/pre-migrate.py
  migrations/base/0.0.0/pre-clean-imd.py
  migrations/base/10.saas~18.1.3/pre-10-modules.py
  migrations/hr_expense/9.0.2.0/pre-10-adapt-models.py
  migrations/mrp/0.0.0/pre-check-zero-boms.py
  migrations/ocn_client/saas~11.5.1.0/end-migrate.py
  migrations/product/saas~12.5.1.2/pre-20-migrate-fix-dup.py
  migrations/sale/saas~16.2.1.2/pre-migrate.py
  migrations/stock/0.0.0/pre-check_uom_consistency.py
Due: no-license-comment, bad-import-000

[IMP] *: use str2bool from upgrade utils
  migrations/account_sepa/saas~13.2.1.0/pre-migrate.py
  migrations/base/0.0.0/pre-clean-imd.py
  migrations/base/0.0.0/pre-models-ir_ui_view.py
  migrations/base/10.saas~18.1.3/pre-10-modules.py
  migrations/hr_expense/9.0.2.0/pre-10-adapt-models.py
  migrations/mrp/0.0.0/pre-check-zero-boms.py
  migrations/ocn_client/saas~11.5.1.0/end-migrate.py
  migrations/product/saas~12.5.1.2/pre-20-migrate-fix-dup.py
  migrations/sale/saas~16.2.1.2/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] base_import_module/saas~17.3: not remove necessary template
  migrations/base_import_module/saas~17.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale_project/saas~17.4: remove project_id field from sale.order
  migrations/sale_project/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] website/17.0: archive deprecated redirects
  migrations/website/17.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/0.0.0: remove mixin selections for unloaded models
  migrations/base/0.0.0/end-clean-mixin-selections.py
Due: no-license-comment, bad-import-000

[FIX] website/saas~17.2: Use html instead of etree
  migrations/website/saas~17.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_be_hr_payroll/saas~17.4: remove unused field
  migrations/l10n_be_hr_payroll/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] repair/saas~16.4: save operations as note
  migrations/repair/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] payment/saas~17.4: add twint to mollie
  migrations/payment/saas~17.4.2.0/post-migrate.py
Due: no-license-comment

[IMP] base/saas~17.3: remove saas_trial ir.cron view inherit
  migrations/base/saas~17.3.1.3/pre-saas_trial.py
Due: no-license-comment

[IMP] data_merge/saas~17.4: merge with data_cleaning
  migrations/base/saas~17.4.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] *: a batch processing story
  migrations/base/saas~16.1.1.3/pre-20-fields.py
  migrations/crm/saas~13.3.1.0/post-migrate.py
  migrations/documents/saas~16.3.1.2/pre-migrate.py
  migrations/sms/saas~12.5.2.0/post-migrate.py
Due: no-license-comment

[FIX] hr_recruitment/saas~16.5: use processes
  migrations/hr_recruitment/saas~16.5.1.1/pre-phone-sanitized.py
Due: no-license-comment

[FIX] sale_stock_renting/saas~17.2: Adapt old rental rules
  migrations/sale_stock_renting/saas~17.2.1.0/post-migrate.py
Due: no-license-comment

[FIX] stock/saas~17.2: support old pull rules behavior
  migrations/stock/saas~17.2.1.1/post-migrate.py
Due: no-license-comment

[FIX] stock/saas~17.2: Set default src/dest for picking types
  migrations/stock/saas~17.2.1.1/pre-migrate.py
Due: no-license-comment

[IMP] hr_holidays/saas~17.4: rename private_name
  migrations/hr_holidays/saas~17.4.1.6/post-migrate.py
  migrations/hr_holidays/saas~17.4.1.6/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~17.4: remove im_livechat_mail_bot
  migrations/base/saas~17.4.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] pos_pricer/saas~17.4.1.0: add fields to display
  migrations/pos_pricer/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] point_of_sale/saas~17.1: Force noupdate instead of deleting
  migrations/point_of_sale/saas~17.1.1.0.1/pre-demo-data.py
Due: no-license-comment

[IMP] hr_appraisal/saas~17.4.1.1 : update rule
  migrations/hr_appraisal/saas~17.4.1.1/post-migrate.py
Due: no-license-comment

[IMP] hr_holidays/saas~17.4: Enhance validation workflow
  migrations/hr_holidays/saas~17.4.1.6/pre-migrate.py
Due: no-license-comment

[ADD] base/0.0.0: Enable Blackbox BE 17 upgrade
  migrations/base/0.0.0/pre-00-checks.py
Due: no-license-comment, bad-import-000

[IMP] event/saas~17.4: move question from website_event to event
  migrations/event/saas~17.4.1.8/pre-migrate.py
Due: no-license-comment

[IMP] event_sale/saas~17.4: extract event_product from event_sale
  migrations/base/saas~17.4.1.3/pre-10-modules.py
  migrations/event_product/saas~17.4.1.0/pre-migrate.py
  migrations/product/saas~17.4.1.2/pre-migrate.py
Due: no-license-comment

[IMP] mail/saas~17.4: specific canned responses admin right
  migrations/mail/saas~17.4.1.17/post-migrate.py
Due: no-license-comment

[IMP] l10n_be_hr_payroll/saas~17.4: move fiscal voluntarism
  migrations/l10n_be_hr_payroll/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] sale_loyalty/saas~15.3.1.0: fix division by zero
  migrations/sale_loyalty/saas~15.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] pos_restaurant/saas~17.{1,2}: no update demo data
  migrations/pos_restaurant/saas~17.1.1.0/pre-demo-data.py
  migrations/pos_restaurant/saas~17.2.1.0/pre-demo-data.py
Due: no-license-comment

[FIX] maintenance/saas~16.5: set default for newly introduced fields
  migrations/maintenance/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_eg_edi_eta/16.0.0.2: remove view
  migrations/l10n_eg_edi_eta/16.0.0.2/post-migrate.py
Due: no-license-comment

[FIX] sale/0.0.0,saas~11.5: fixed wrong value state
  migrations/sale/0.0.0/pre-00-fix-onboarding-state.py
  migrations/sale/saas~11.5.1.1/pre-10-models.py
Due: no-license-comment, bad-import-000

[IMP] project_hr_skills,industry_fsm_report/saas~17.4.1.0: remove views
  migrations/industry_fsm_report/saas~17.4.1.0/pre-migrate.py
  migrations/project_hr_skills/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] website_event_{,booth_}_sale/saas~17.3: adapt domain of type field
  migrations/appointment_account_payment/tests/__init__.py
  migrations/appointment_account_payment/tests/test_domain_product.py
  migrations/event_booth_sale/tests/__init__.py
  migrations/event_booth_sale/tests/test_domain_product.py
  migrations/product/saas~17.3.1.2/pre-migrate.py
  migrations/product/tests/__init__.py
  migrations/product/tests/test_domain_product.py
  migrations/stock/saas~17.3.1.1/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] mail/saas~17.4: cleanup mail.message fields
  migrations/account_audit_trail/saas~17.4.1.0/pre-migrate.py
  migrations/mail/saas~17.4.1.18/pre-migrate.py
Due: no-license-comment

[FIX] tools/inject-trigger: typo
  tools/inject-trigger
Due: none

[IMP] account_asset/saas~17.4: compute newly stored fields
  migrations/account_asset/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/tests:skip non-stored models with custom field on TestCrawler
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[FIX] helpdesk/saas~15.4: Also update mt_ticket_new
  migrations/helpdesk/saas~15.4.1.4/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
