Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[ADD] website/saas~18.4
  migrations/website/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~17.5: fix company dependent fields to prevent data loss
  migrations/base/saas~17.5.1.3/pre-company-dependent-jsonb.py
Due: no-license-comment

[FIX] repair/saas~16.4: Fix not null constraint
  migrations/repair/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/11.0: allow addition of constraint
  migrations/account_reports/11.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/0.0.0: allow creation of constraint
  migrations/base/0.0.0/pre-10-duplicated-sequence-range.py
Due: no-license-comment, bad-import-000

[IMP] appointment/saas~18.5: remove has_identical_config field
  migrations/appointment/saas~18.5.1.3/pre-migrate.py
Due: no-license-comment

[FIX] product/saas~18.1: don't add uoms in same category as packagings
  migrations/product/saas~18.1.1.2/pre-10-uom.py
  migrations/product/tests/test_product_packaging_migration.py
Due: no-license-comment, bad-import-000

[IMP] timesheet_grid/saas~18.5: remove the `is_timesheet` field
  migrations/timesheet_grid/saas~18.5.1.0/pre-migrate.py
  migrations/timesheet_grid/tests/__init__.py
  migrations/timesheet_grid/tests/test_migrate_is_timesheet_in_project_id.py
Due: no-license-comment, bad-import-000

[IMP] stock/saas~18.5: replace picking `date` with `create_date`
  migrations/stock/saas~18.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] base/saas~18.5: remove field
  migrations/base/saas~18.5.1.3/pre-99-migrate.py
Due: no-license-comment

[IMP] base/saas~18.5: remove index
  migrations/base/saas~18.5.1.3/pre-99-migrate.py
Due: no-license-comment

[IMP] l10n_be_intrastat/saas~18.5: Cleaning todos from tax return
  migrations/account_reports/saas~18.5.1.0/pre-migrate.py
  migrations/l10n_be_intrastat/saas~18.5.1.0/pre-migrate.py
  migrations/l10n_be_reports/saas~18.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~17.5: Replace tree with list in server action code
  migrations/base/saas~17.5.1.3/pre-10-ir_ui_view.py
Due: no-license-comment

[FIX] hr/saas~18.4: update record rule
  migrations/hr/saas~18.4.1.1/post-migrate.py
Due: no-license-comment

[FIX] website/saas~11.5: get rid of mixin fields log error
  migrations/website/saas~11.5.1.0/pre-10-migrate.py
Due: no-license-comment

[chore] use format_quer, no encoding in comments
  migrations/website/saas~11.5.1.0/pre-10-migrate.py
Due: no-license-comment

[FIX] point_of_sale/12.0: remove demo data
  migrations/point_of_sale/12.0.1.0.1/pre-demo.py
Due: no-license-comment

[FIX] {product,sale,website_sale}/12.0: fix demo loading
  migrations/base/12.0.1.3/pre-modules-demo.py
Due: no-license-comment

[IMP] account/saas~18.5: remove field
  migrations/account/saas~18.5.1.4/pre-migrate.py
Due: no-license-comment

[IMP] base/18.0: Merge l10n_fr_reports modules
  migrations/base/18.0.1.3/pre-10-modules.py
  migrations/l10n_fr_reports/18.0.1.2/pre-migrate.py
Due: no-license-comment

[IMP] hr_contract_salary/saas~18.5: translate_fields_for salary_configurator
  migrations/hr_contract_salary/saas~18.5.2.1/pre-migrate.py
Due: no-license-comment

[FIX] product/0.0.0: do not update write_date
  migrations/product/0.0.0/end-write-sync.py
  migrations/product/0.0.0/pre-write-sync.py
Due: no-license-comment, bad-import-000

[IMP] auth_signup/saas~18.5: move portal wizard mail template
  migrations/auth_signup/saas~18.5.1.0/post-migrate.py
  migrations/auth_signup/saas~18.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/tests: avoid false error
  migrations/base/tests/test_versions.py
Due: no-license-comment, bad-import-000

[IMP] l10n_eg_edi_eta/saas~18.5: m2o attachment to binary
  migrations/l10n_eg_edi_eta/saas~18.5.0.2/pre-migrate.py
Due: no-license-comment

[FIX] product/saas~18.1: check for column existence
  migrations/product/saas~18.1.1.2/pre-10-uom.py
  migrations/product/tests/test_product_packaging_migration.py
Due: no-license-comment, bad-import-000

[IMP] account_sepa_direct_debit/saas~18.5: remove field
  migrations/account_sepa_direct_debit/saas~18.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] tools/matt.py
  tools/matt.py
Due: no-license-comment

Revert "[FIX] tools/matt.py: python3.8 compatibility"
  tools/matt.py
Due: no-license-comment

[FIX] product/saas~17.4: migrate old pricelist discount behavior to v18
  migrations/product/saas~17.4.1.2/pre-migrate.py
Due: no-license-comment

[FIX] hr/saas-18.4: Archive ready/cancelled contracts
  migrations/hr/saas~18.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] hr/saas~18.4: Move forgotten fields to version
  migrations/hr/saas~18.4.1.1/end-migrate.py
  migrations/hr/saas~18.4.1.1/post-migrate.py
  migrations/hr/saas~18.4.1.1/pre-migrate.py
  migrations/hr/tests/test_migrate_employee_with_contract_18_4.py
  migrations/hr_contract/tests/test_migrate_employee_with_contract_18_4.py
  migrations/hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_au_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_bd_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_be_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_ch_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_hk_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_id_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_in_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_ke_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_lt_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_lu_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_my_hr_payroll/saas~18.4.1.0/pre-migrate.py
  migrations/l10n_us_hr_payroll/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] hr/saas~18.4
  migrations/hr/saas~18.4.1.1/pre-migrate.py
Due: no-license-comment

[IMP] l10n_fr_reports/17.0: Uneeded view removed
  migrations/l10n_fr_reports/0.0.0/pre-migrate.py
  migrations/l10n_fr_reports/saas~18.2.1.2/pre-migrate.py
Due: no-license-comment, bad-import-000

[IMP] base/tests: handle multi-company during mock views
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[chore] : fix pre-commit ignore RUF005
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[FIX] account_reports/saas~18.3: generate account returns
  migrations/account_reports/saas~18.3.1.0/end-account-returns.py
Due: no-license-comment

[FIX] Outlook: fix crash when adding inline images Currently logging emails can crash if there are more inline image attachments than img tags.
  outlook/src/taskpane/components/Log/Logger.tsx
Due: none

[FIX] l10n_be/18.0: rename imd of internal transfer
  migrations/l10n_be/18.0.2.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_holidays/saas~18.5: changing time off report by type
  migrations/hr_recruitment/saas~18.5.1.1/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
