Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message
    - id: gitlint-ci
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message

  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
        require_serial: true
        verbose: true
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
    - id: ruff-check
      name: Check code with Ruff, apply automatic fixes
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
      name: Format code with Ruff automatically
  - repo: https://github.com/semgrep/pre-commit
    rev: v1.125.0
    hooks:
    - id: semgrep
      args: ['--disable-version-check', '--quiet', '--skip-unknown-extensions', '--metrics', 'off', '--oss-only', '--error', '--config', './semgrep.yaml']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[FIX] {base_vat,l10n_uy}/17.0: compute column
  migrations/base/saas~16.5.1.3/pre-10-modules.py
  migrations/base_vat/17.0.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_budget/saas~17.3: ignore some columns
  migrations/base/saas~17.3.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] base/0.0.0
  migrations/base/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[FIX] l10n_ae_hr_payroll/saas~17.5: add new column with default
  migrations/base/saas~17.5.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] base/0.0.0: no ORM table change
  migrations/base/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~16.3: force-up manually uninstalled account_followup
  migrations/base/saas~16.3.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] l10n_uk_bacs/18.0
  migrations/base/18.0.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] sale_product_configurator/saas~17.3: ignore column
  migrations/base/saas~17.3.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] sale_management/saas~18.5: exclude non stored field computation
  migrations/sale_management/saas~18.5.1.0/end-migrate.py
Due: no-license-comment

[FIX] account/18.3: Fix traceback on internal transfer
  migrations/account/18.0.1.3/end-migrate.py
Due: no-license-comment

[FIX] website/saas~18.5: relative website_meta_og_img
  migrations/website/saas~18.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] base/0.0.0: commit before analyze
  migrations/base/0.0.0/pre-10-create-idx-fk.py
Due: no-license-comment, bad-import-000

[FIX] hr_holidays/saas~16.5: cannot use ratio for hours
  migrations/hr_holidays/saas~16.5.1.5/end-migrate.py
  migrations/hr_holidays/tests/__init__.py
  migrations/hr_holidays/tests/test_leave_hours_resource_calendar.py
Due: no-license-comment, bad-import-000

[IMP] mail_plugin/saas~19.1: remove the enrichment feature
  migrations/mail_plugin/saas~19.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] gmail: fix the addon not reloading after the authentication
  gmail/src/services/odoo_auth.ts
  gmail/src/views/login.ts
Due: none

[IMP] wip login
  outlook/package-lock.json
  outlook/src/taskpane/components/Login.tsx
  outlook/src/taskpane/components/PartnerView.tsx
  outlook/src/taskpane/components/RecordCard.tsx
Due: none

Remove dead code
  gmail_http/src/services/translation.ts
  gmail_http/src/utils/actions.ts
  gmail_http/src/utils/components.ts
  gmail_http/src/utils/format.ts
  gmail_http/src/views/card_actions.ts
  gmail_http/src/views/create_task.ts
  gmail_http/src/views/login.ts
Due: none

[REF] Outlook: rework logging attachments
  outlook/package.json
  outlook/src/taskpane/components/Log/Logger.tsx
Due: none

[IMP] gmail: show warning if the Odoo database needs a newer addin
  gmail/appsscript.json
  gmail/src/const.ts
  gmail/src/services/odoo_auth.ts
  gmail/src/views/login.ts
Due: none

[IMP] outlook: show warning if the Odoo database needs a newer addin
  outlook/src/taskpane/api.js
  outlook/src/taskpane/components/Login/Login.tsx
Due: none

[IMP] gmail: improve the login flow
  gmail/package-lock.json
  gmail/src/const.ts
  gmail/src/services/odoo_auth.ts
  gmail/src/services/pages.ts
  gmail/src/views/login.ts
Due: none

[IMP] gmail: remove the enrichment feature from the addon
  gmail/.prettierrc
  gmail/appsscript.json
  gmail/package.json
  gmail/src/const.ts
  gmail/src/main.ts
  gmail/src/models/company.ts
  gmail/src/models/error_message.ts
  gmail/src/models/lead.ts
  gmail/src/models/partner.ts
  gmail/src/models/project.ts
  gmail/src/models/state.ts
  gmail/src/models/task.ts
  gmail/src/models/ticket.ts
  gmail/src/services/odoo_redirection.ts
  gmail/src/services/search_records.ts
  gmail/src/services/translation.ts
  gmail/src/utils/format.ts
  gmail/src/utils/http.ts
  gmail/src/views/card_actions.ts
  gmail/src/views/company.ts
  gmail/src/views/create_task.ts
  gmail/src/views/debug.ts
  gmail/src/views/error.ts
  gmail/src/views/helpers.ts
  gmail/src/views/icons.ts
  gmail/src/views/index.ts
  gmail/src/views/leads.ts
  gmail/src/views/login.ts
  gmail/src/views/partner.ts
  gmail/src/views/partner_actions.ts
  gmail/src/views/search_partner.ts
  gmail/src/views/search_records.ts
  gmail/src/views/tasks.ts
  gmail/src/views/tickets.ts
Due: none

[IMP] gmail: improve the email logging
  gmail/src/models/email.ts
  gmail/src/models/state.ts
  gmail/src/services/log_email.ts
  gmail/src/views/leads.ts
  gmail/src/views/tasks.ts
  gmail/src/views/tickets.ts
Due: none

[IMP] gmail: prevent state modification with JWT
  gmail/package.json
  gmail/src/index.ts
  gmail/src/models/state.ts
  gmail/src/utils/actions.ts
Due: none

[IMP] gmail: serve image file instead of encoding in base 64
  gmail/README.md
  gmail/package.json
  gmail/src/assets/Caveat.ttf
  gmail/src/assets/GoogleSans.ttf
  gmail/src/assets/button.svg
  gmail/src/assets/close.png
  gmail/src/assets/email_in_odoo.png
  gmail/src/assets/email_logged.png
  gmail/src/assets/empty_folder.svg
  gmail/src/assets/link.svg
  gmail/src/assets/login_header.svg
  gmail/src/assets/odoo.png
  gmail/src/assets/person.png
  gmail/src/assets/reload.png
  gmail/src/assets/search.png
  gmail/src/assets/search_no_result.svg
  gmail/src/index.ts
  gmail/src/models/email.ts
  gmail/src/models/partner.ts
  gmail/src/utils/components.ts
  gmail/src/utils/format.ts
  gmail/src/utils/svg.ts
  gmail/src/views/create_task.ts
  gmail/src/views/icons.ts
  gmail/src/views/leads.ts
  gmail/src/views/login.ts
  gmail/src/views/partner_actions.ts
  gmail/src/views/search_partner.ts
  gmail/src/views/search_records.ts
  gmail/src/views/tasks.ts
  gmail/src/views/tickets.ts
Due: none

[IMP] gmail: commit `package-lock.json`
  gmail/package-lock.json
Due: none

[IMP] outlook: commit `package-lock.json`
  outlook/package-lock.json
Due: none

[IMP] outlook/gmail: update warning message
  gmail/src/views/login.ts
  outlook/src/taskpane/components/Login/Login.tsx
Due: none
