Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] mass_mailing/saas~19.1: remove masonry views
  migrations/mass_mailing/saas~19.1.2.7/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/saas~18.3.1.0: bypass account_move_line constraint
  migrations/account_reports/saas~18.3.1.0/end-account-returns.py
Due: no-license-comment

[FIX] l10n_in_reports/saas~18.5: resolve summary line migration
  migrations/l10n_in_reports/saas~18.5.1.1/post-migrate.py
  migrations/l10n_in_reports/saas~18.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] hr_contract_salary/saas~18.4: unarchive partially signed offers
  migrations/hr_contract_salary/saas~18.4.2.0/pre-migrate.py
Due: no-license-comment

[FIX] point_of_sale/saas~17.2: same access_token for all the configs
  migrations/point_of_sale/0.0.0/pre-migrate.py
  migrations/point_of_sale/saas~17.2.1.0.1/pre-migrate.py
Due: no-license-comment, bad-import-000

[FIX] hr_expense/saas~18.2: remove dead code
  migrations/hr_expense/saas~18.2.2.0/end-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Revert "[IMP] stock/16.0: recompute fields with query"
  migrations/stock/16.0.1.1/post-migrate.py
Due: no-license-comment

[FIX] voip/saas~18.3: cannot use SQL unless unaccent
  migrations/voip/saas~18.3.2.0/post-migrate.py
Due: no-license-comment

[FIX] account/16.0: set partner_id in posted expense journal entries
  migrations/account/16.0.1.2/pre-migrate.py
Due: no-license-comment

[FIX] product/saas~18.5: add demo xmlid
  migrations/product/saas~18.5.1.2/pre-demo-xmlids.py
Due: no-license-comment

[FIX] website_sale/saas~18.4: Set inherit_id null for cowed view
  migrations/website_sale/saas~18.4.1.1/end-migrate.py
  migrations/website_sale/saas~18.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] website/0.0.0: prevent multi-level sub-menu creation
  migrations/website/0.0.0/pre-submenus.py
  migrations/website/tests/__init__.py
  migrations/website/tests/test_18_0_submenus.py
Due: no-license-comment, bad-import-000

[FIX] delivery/saas~16.3.1.0: Add price rules for free_over flag
  migrations/delivery/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] payment_stripe/saas~19.1: removing no_pms_available_warning view
  migrations/payment_stripe/saas~19.1.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/saas~18.3: misaligned move date
  migrations/account_reports/saas~18.3.1.0/end-account-returns.py
Due: no-license-comment

[FIX] website_sale/saas~19.1: migrate to global GMC flag
  migrations/website_sale/saas~18.5.1.0/pre-migrate.py
  migrations/website_sale/saas~19.1.1.1/pre-migrate.py
Due: no-license-comment

[FIX] delivery/saas~16.3: skip if fresh install
  migrations/delivery/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

Revert "[FIX] mrp/saas~13.4.2.0 partly revert 8dbfaf7 to fix PG mem err"
  migrations/mrp/saas~13.4.2.0/end-migrate.py
Due: no-license-comment

Revert "Revert [IMP] stock/16.0: recompute fields with query"
  migrations/stock/16.0.1.1/post-migrate.py
Due: no-license-comment

[IMP] pos_blackbox_be/0.0.0: authorize upgrade to non-certified version
  migrations/base/0.0.0/pre-00-checks.py
Due: no-license-comment, bad-import-000

[FIX] tools/link-upgrade-util: do not symlink pyc files
  tools/link-upgrade-util.py
Due: no-license-comment

[ADD] crm/0.0.0: no ORM computed stored fields
  migrations/crm/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[FIX] base/17.0,web_map/saas~12.5
  migrations/base/17.0.1.3/pre-10-modules.py
  migrations/web_map/17.0.1.0/pre-migrate.py
  migrations/web_map/saas~12.5.1.0/pre-migrate.py
Due: no-license-comment

[ADD] base/0.0.0: forbid the ORM to alter the table of some models
  migrations/base/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[ADD] mail/0.0.0: no ORM computed stored fields
  migrations/mail/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[ADD] mail/17.0
  migrations/mail/17.0.1.15/pre-activity-todo.py
  migrations/mail/17.0.1.15/pre-channel.py
Due: no-license-comment

[ADD] account/0.0.0: no ORM computed stored fields
  migrations/account/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[FIX] {account_accountant,base}/saas~17.3
  migrations/account_accountant/saas~17.3.1.1/pre-migrate.py
  migrations/base/saas~17.3.1.3/pre-10-modules.py
Due: no-license-comment

[ADD] stock/0.0.0: no ORM computed stored fields
  migrations/stock/0.0.0/pre-models-no-orm-table-change.py
Due: no-license-comment, bad-import-000

[FIX] {base,l10n_ke_edi_oscu{,_stock}}/17.0
  migrations/base/17.0.1.3/pre-10-modules.py
  migrations/l10n_ke_edi_oscu/17.0.1.0/post-upgrade.py
  migrations/l10n_ke_edi_oscu/17.0.1.0/pre-upgrade.py
  migrations/l10n_ke_edi_oscu_stock/17.0.1.0/post-upgrade.py
  migrations/l10n_ke_edi_oscu_stock/17.0.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] {base,l10n_es_edi_facturae}/saas~16.3
  migrations/base/saas~16.3.1.3/pre-10-modules.py
  migrations/l10n_es_edi_facturae/saas~16.3.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] {base,l10n_ro_efactura}/17.0
  migrations/base/17.0.1.3/pre-10-modules.py
  migrations/l10n_ro_efactura/17.0.1.0/pre-upgrade.py
Due: no-license-comment

[ADD] l10n_ar/17.0
  migrations/l10n_ar/17.0.3.7/pre-upgrade.py
Due: no-license-comment

[FIX] l10n_it_edi/saas~16.5
  migrations/l10n_it_edi/saas~16.5.0.3/pre-migrate.py
Due: no-license-comment

[FIX] {base,l10n_dk_bookkeeping}/17.0
  migrations/base/17.0.1.3/pre-10-modules.py
  migrations/l10n_dk_bookkeeping/17.0.1.0/post-upgrade.py
  migrations/l10n_dk_bookkeeping/17.0.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] {base,l10n_cz_reports_2025}/17.0
  migrations/base/17.0.1.3/pre-10-modules.py
  migrations/l10n_cz_reports_2025/17.0.1.0/pre-upgrade.py
Due: no-license-comment

[FIX] product_expiry/saas~16.2
  migrations/product_expiry/saas~16.2.1.0/pre-migrate.py
Due: no-license-comment

[ADD] product_unspsc/17.0
  migrations/product_unspsc/17.0.0.2/pre-upgrade.py
Due: no-license-comment

[ADD] l10n_cz/17.0
  migrations/l10n_cz/17.0.1.1/pre-upgrade.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
