Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[ADD] acount_intrastat,l10n_be_intrastat/saas~18.1: merge modules
  migrations/base/saas~18.1.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] hr/saas~16.4: Avoid creating duplicate contacts
  migrations/hr/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[IMP] base/tests: suggest new `make_field_non_stored` util
  migrations/base/tests/test_rem.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~17.5: clean filters
  migrations/account/saas~17.5.1.2/pre-migrate.py
  migrations/account/saas~17.5.1.3/end-upgrade.py
Due: no-license-comment

[FIX] base/0.0.0: limit the number of queries
  migrations/base/0.0.0/pre-clean-transients.py
Due: no-license-comment, bad-import-000

[IMP] helpdesk_sale_timesheet/saas~18.3: remove view
  migrations/helpdesk_sale_timesheet/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/17.3.1.3: update filter name index
  migrations/base/saas~17.3.1.3/pre-30-filter-index.py
Due: no-license-comment

[IMP] approvals_purchase/18.0: verify uoms before recomputing seller_id
  migrations/approvals_purchase/18.0.1.0/post-migrate.py
  migrations/approvals_purchase/18.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_sa_edi/saas~18.3: renaming fields and invisible rework
  migrations/l10n_sa_edi/saas~18.3.0.1/pre-migrate.py
Due: no-license-comment

[FIX] sign/16.0: fix data for char field
  migrations/sign/16.0.1.0/post-migrate.py
Due: no-license-comment

[FIX] l10n_au_hr_payroll/18.0: remove a salary rule
  migrations/l10n_au_hr_payroll/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] project/saas~18.3: remove my tasks window action path
  migrations/project/saas~18.3.1.3/pre-migrate.py
Due: no-license-comment

[IMP] base,*/saas~18.2: move script to saas-18.2
  migrations/account/saas~18.2.1.4/pre-migrate.py
  migrations/account/saas~18.3.1.4/pre-migrate.py
  migrations/base/saas~18.2.1.3/pre-10-modules.py
  migrations/base/saas~18.3.1.3/pre-10-modules.py
  migrations/l10n_ar/saas~18.2.3.5/pre-migrate.py
  migrations/l10n_br_website_sale/saas~18.2.1.0/pre-migrate.py
  migrations/l10n_co_edi/saas~18.2.0.3/pre-migrate.py
  migrations/l10n_ec_sale/saas~18.2.1.0/pre-migrate.py
  migrations/l10n_it_edi/saas~18.2.0.4/pre-migrate.py
  migrations/l10n_pe/saas~18.2.3.0/pre-migrate.py
  migrations/portal/saas~18.2.1.0/pre-migrate.py
  migrations/website_sale_ups/saas~18.2.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale/saas~18.3: move module_sale_gelato
  migrations/sale/saas~18.3.1.2/pre-migrate.py
Due: no-license-comment

[IMP] purchase/saas~18.3: remove unused action
  migrations/purchase/saas~18.3.1.2/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: match partner companies
  migrations/base/0.0.0/pre-match-partner_company.py
  migrations/base/0.0.0/pre-remove-invalid-partner-company.py
Due: no-license-comment, bad-import-000

[ADD] base_automation/saas~18.3: domain removal for onchange automations
  migrations/base_automation/saas~18.3.1.0/pre-filter_domain-for-on_change.py
  migrations/base_automation/tests/__init__.py
  migrations/base_automation/tests/test_domain_removal_for_on_change_automations.py
Due: no-license-comment, bad-import-000

[FIX]#45 On GMail, trailing comas are not accepted in the AppsScript.
  gmail/.prettierrc
Due: none

[FIX] website_sale_collect/saas~17.5: unpublish in-store dm if no wh set
  migrations/website_sale_collect/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[IMP] *{shiprocket,ups_rest,ups}/saas~18.3: adapt to generic cod
  migrations/base/saas~18.3.1.3/pre-10-modules.py
  migrations/delivery/saas~18.3.1.0/pre-migrate.py
  migrations/delivery_shiprocket/saas~18.3.1.0/pre-migrate.py
  migrations/delivery_ups/saas~18.3.1.0/end-migrate.py
  migrations/delivery_ups/saas~18.3.1.0/pre-migrate.py
  migrations/delivery_ups_rest/saas~18.3.0.1/pre-migrate.py
Due: no-license-comment

[IMP] account_sepa_direct_debit/saas~13.4: Explode execute query
  migrations/account_sepa_direct_debit/saas~13.4.1.0/pre-10-payment-refactoring.py
Due: no-license-comment

[FIX] l10n_it/saas~18.2: move to end
  migrations/l10n_it/saas~18.2.0.7/end-migrate.py
Due: no-license-comment

[IMP] base/saas~18.3: revert the companies form the evalContext
  migrations/base/saas~18.3.1.3/pre-migrate.py
Due: no-license-comment

[FIX] hr_attendance/18.0: Show correct extra hours
  migrations/hr_attendance/18.0.2.0/post-recompute_fields.py
  migrations/hr_attendance/saas~17.5.2.0/pre-migrate.py
Due: no-license-comment

[chore] just a typo in error message
  migrations/base/0.0.0/pre-models-ir_model.py
Due: no-license-comment, bad-import-000

[FIX] l10n_in_edi/saas~18.2: add migration for edi error
  migrations/l10n_in_edi/saas~18.2.1.03/pre-migrate.py
Due: no-license-comment

[ADD] hr/saas~18.3: install hr_homeworking by default
  migrations/hr/saas~18.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] l10n_be_hr_payroll/saas~18.3: remove warrant payslip wizard
  migrations/l10n_be_hr_payroll/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/0.0.0: there is a loop by default
  migrations/base/0.0.0/pre-match-partner_company.py
Due: no-license-comment, bad-import-000

[IMP] base/0.0.0: index indirect references
  migrations/base/0.0.0/pre-10-create-idx-fk.py
Due: no-license-comment, bad-import-000

[FIX] base/0.0.0: correct cleaning of transients
  migrations/base/0.0.0/pre-clean-transients.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~16.4: cleanup priv partner fields
  migrations/base/saas~16.4.1.3/recycle_private_partners.py
Due: no-license-comment

[FIX] sms/saas~12.5: handle lack of `mobile` in res.partner
  migrations/sms/saas~12.5.2.0/post-migrate.py
Due: no-license-comment

[FIX] base/saas~18.2: fix syntax error
  migrations/base/saas~18.2.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] sale_stock/saas~18.3: change `route_id` field on SO line to be m2m
  migrations/sale_stock/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] l10n_uk_{hmrc,reports_cis}/saas~18.3.1.0: Removed template views
  migrations/l10n_uk_hmrc/saas~18.3.1.0/pre-migrate.py
  migrations/l10n_uk_reports_cis/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_be_coda/saas~18.3: removing coda_note
  migrations/l10n_be_coda/saas~18.3.2.1/pre-migrate.py
Due: no-license-comment

[FIX] base/tests: Fix memory error
  migrations/base/tests/test_mock_crawl.py
Due: no-license-comment, bad-import-000

[IMP] website_sale/saas~18.3 : remove template view for product variant
  migrations/website_sale/saas~18.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] project_timesheet_forecast/saas~18.3: remove unused field
  migrations/project_timesheet_forecast/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
