Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message
    - id: gitlint-ci
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message

  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
    - id: ruff
      name: Check code with Ruff, apply automatic fixes
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
      name: Format code with Ruff automatically
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[FIX] analytic/saas~16.5: Prevent duplicates in analytic applicability
  migrations/analytic/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[IMP] documents/saas~18.4: unset lock_uid for folders
  migrations/documents/saas~18.4.1.4/pre-migrate.py
Due: no-license-comment

[ADD] account_edi_ubl_cii_tax_extension/saas~18.4: Fix wrong codes
  migrations/account_edi_ubl_cii_tax_extension/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] spreadsheet_edition/saas~18.1: correct sorted measure id
  migrations/spreadsheet_edition/saas~18.1.1.0/pre-migrate-pivot-sorted-column.py
  migrations/spreadsheet_edition/tests/test_pivot_sorted_column.py
Due: no-license-comment, bad-import-000

[FIX] account_accountant/saas~18.3: transaction_details
  migrations/account_accountant/saas~18.3.1.1/post-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~18.4: add style to scorecard baseline
  migrations/spreadsheet_edition/saas~18.4.1.0/pre-migrate-scorecard-baseline-style.py
  migrations/spreadsheet_edition/tests/test_chart_commands.py
Due: no-license-comment, bad-import-000

[IMP] spreadsheet_edition/saas~18.4: rename cf and dv types
  migrations/spreadsheet_edition/saas~18.4.1.0/pre-migrate-rename-cf-dv.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_rename_cf_dv.py
Due: no-license-comment, bad-import-000

[IMP] project_mrp/17.5.1.0: human-readable names for analytic projects
  migrations/project_mrp/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] mail/saas~18.3: check null values
  migrations/mail/saas~18.3.1.19/pre-migrate.py
Due: no-license-comment

[FIX] pos_enterprise/saas~18.3: check if table exists
  migrations/pos_enterprise/saas~18.3.1.0/post-migrate.py
Due: no-license-comment

[IMP] product/saas~18.4: ensure uom is set for all vendor pricelists
  migrations/product/saas~18.4.1.2/pre-migrate.py
Due: no-license-comment

[FIX] l10n_be_hr_contract_salary/saas~18.3: update record in post script
  migrations/l10n_be_hr_contract_salary/saas~18.3.1.0/post-migrate.py
  migrations/l10n_be_hr_contract_salary/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~18.4: ensure that fixedPeriod is correct
  migrations/spreadsheet_edition/saas~18.4.1.0/pre-migrate.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_fixed_period_migration.py
Due: no-license-comment, bad-import-000

[FIX] project_mrp/17.5.1.0: create/write metadata for analytic projects
  migrations/project_mrp/saas~17.5.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account/18.0: Missing Reconciliation Model records
  migrations/account/18.0.1.3/end-migrate.py
Due: no-license-comment

[FIX] hr_recruitment/tests
  migrations/hr_recruitment/tests/test_candidate_to_talent_migration.py
Due: no-license-comment, bad-import-000

[FIX] hr_recruitment_extract/saas~18.2
  migrations/hr_recruitment_extract/saas~18.2.1.0/post-upgrade.py
Due: no-license-comment

[FIX] account_disallowed_expenses_fleet/saas~18.2.1.0: deductibility
  migrations/account_disallowed_expenses_fleet/saas~18.2.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~18.3: use delete_unused
  migrations/base/saas~18.3.1.3/end-migrate.py
Due: no-license-comment

[FIX] documents_hr/saas~18.3: move HR documents into employee folder
  migrations/documents/saas~17.5.1.4/pre-migrate.py
  migrations/documents_hr/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] account/0.0.0: resequence standard ch reports custom lines
  migrations/account/0.0.0/pre-20-resequence-custom-report-lines.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~18.3: move xmlids to new module
  migrations/base/saas~18.3.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] sales_team/0.0.0: check column exists
  migrations/sales_team/0.0.0/post-migrate.py
Due: no-license-comment, bad-import-000

[FIX] pos_urban_piper_enhancements/saas~18.3: move script
  migrations/pos_urban_piper_enhancements/saas~18.3.1.0/post-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~18.4: empty default value
  migrations/spreadsheet_edition/saas~18.4.1.0/pre-migrate.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_default_value_filter.py
Due: no-license-comment, bad-import-000

[FIX] base/saas~18.3
  migrations/base/saas~18.3.1.3/end-migrate.py
Due: no-license-comment

[IMP] im_livechat/saas~18.4: block chat assignment when in call
  migrations/im_livechat/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~18.3: migrate `writeoff_suggestion` reco models
  migrations/account/saas~18.3.1.4/pre-migrate.py
Due: no-license-comment

[FIX] im_livechat/saas~18.3
  migrations/im_livechat/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~18.3: split enterprise references
  migrations/base/saas~18.3.1.3/end-migrate.py
Due: no-license-comment

Support for Shared Mailboxes in Outlook
  outlook/manifest.xml
Due: none

[FIX] account/18.0: load only new reconcile models
  migrations/account/18.0.1.3/end-migrate.py
Due: no-license-comment

[chore] test_themes/saas~18.4: move MockRequest
  migrations/test_themes/tests/test_themes_loading.py
Due: no-license-comment, bad-import-000

[FIX] account_budget/saas~17.3: fix analytic distribution
  migrations/account_budget/saas~17.3.1.0/post-restore_budget.py
Due: no-license-comment

[ADD] iot/saas~18.4: remove ip_url field
  migrations/iot/saas~18.4.1.0/pre-migrate.py
  migrations/pos_iot_six/saas~18.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] sale_amazon/saas~18.4: transfer is_fbm to amazon_channel
  migrations/sale_amazon/saas~18.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] timesheet_grid/saas~18.3
  migrations/timesheet_grid/saas~18.3.1.0/post-migrate.py
Due: no-license-comment

[FIX] website_sale/saas~18.3: create checkout steps for existing website
  migrations/website_sale/saas~18.3.1.1/end-migrate.py
Due: no-license-comment

[FIX] base/saas~18.3: update new privilege fields on existing groups
  migrations/base/saas~18.3.1.3/end-migrate.py
Due: no-license-comment
