Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
    - id: gitlint
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message
    - id: gitlint-ci
      name: Check commit message, guideline on https://github.com/odoo/upgrade/wiki/commit-message

  - repo: local
    hooks:
      - id: compile23
        name: Compile python files using the expected runtime version
        entry: ./tools/compile23.py
        language: script
      - id: find-missing-links
        name: Find Missing Links
        entry: ./tools/find-missing-links.py
        language: script
        pass_filenames: false
        always_run: true
      - id: check-filenames
        name: Verify script filenames
        entry: ./tools/check-filenames.py
        language: script
      - id: no-license-comment
        name: Forbid LICENSE comments
        language: pygrep
        types: [python]
        entry: '^# .* LICENSE '
      - id: bad-import-000
        name: Incompatible import with old versions in tests and `0.0.0` scripts
        language: pygrep
        entry: '(from|import) odoo.upgrade\b'
        files: '^migrations/\w+/(tests|0\.0\.0)/.*\.py$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
    - id: ruff
      name: Check code with Ruff, apply automatic fixes
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
      name: Format code with Ruff automatically
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-xml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-symlinks
    - id: debug-statements

[FIX] hr_payroll_account/0.0.0: try to import
  migrations/hr_payroll_account/0.0.0/post-hr_payroll_account_post_init.py
Due: no-license-comment, bad-import-000

[FIX] hr_recruitment/saas~17.5.1.1 : add current date in mail_message
  migrations/hr_recruitment/saas~17.5.1.1/pre-migrate.py
Due: no-license-comment

[ADD] base_automation/saas~18.3: after/before mode for time trigger
  migrations/base_automation/saas~18.3.1.0/pre-migrate.py
  migrations/base_automation/tests/__init__.py
  migrations/base_automation/tests/test_conversion_to_after_before_delay_mode.py
Due: no-license-comment, bad-import-000

[FIX] sale_subscription/saas~16.5.1.1: Fix typo in migration report
  migrations/sale_subscription/saas~16.5.1.1/pre-migrate.py
Due: no-license-comment

[FIX] stock/saas~17.3: don't check company in write always
  migrations/stock/saas~17.3.1.1/end-migrate.py
  migrations/stock/saas~17.3.1.1/pre-migrate.py
Due: no-license-comment

[chore] pre-commit: blacklist SIM105
  ruff.toml
Due: none

[IMP] account_online_synchronization/saas~18.3: Change type
  migrations/account_online_synchronization/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] base/saas~18.2: Remove redundant -- in user signatures
  migrations/base/saas~18.2.1.3/pre-migrate.py
Due: no-license-comment

[FIX] hr_work_entry/saas~18.3: steal birth leave records
  migrations/hr_holidays/saas~18.3.1.6/pre-migrate.py
  migrations/hr_work_entry/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[ADD] sale_management_renting/saas~18.3: remove view
  migrations/sale_management_renting/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] auth_oauth/saas~18.3: remove deleted views
  migrations/auth_oauth/saas~18.3.1.0/post-migrate.py
  migrations/auth_oauth/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[ADD] l10n_se_pos/saas~18.2,pos_l10n_se/0.0.0
  migrations/l10n_se_pos/saas~18.2.1.0/pre-upgrade.py
  migrations/pos_l10n_se/0.0.0/pre-cleanup.py
Due: no-license-comment, bad-import-000

[ADD] pos_l10n_se/saas~17.4
  migrations/pos_l10n_se/saas~17.4.1.0/pre-upgrade.py
Due: no-license-comment

[IMP] fleet/saas~18.3: remove unused res.partner fields
  migrations/fleet/saas~18.3.0.1/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~18.3: store currency_id
  migrations/account/saas~18.3.1.4/pre-migrate.py
Due: no-license-comment

[IMP] point_of_sale/saas~18.3: store currency_id
  migrations/point_of_sale/saas~18.3.1.0.1/pre-migrate.py
Due: no-license-comment

[FIX] sale_timesheet/18.0: Remove the view
  migrations/sale_timesheet/18.0.1.0/pre-migrate.py
Due: no-license-comment

[IMP] pos_urban_piper/saas~18.3: preparation times in minutes
  migrations/pos_urban_piper/saas~18.3.1.0/post-migrate.py
Due: no-license-comment

[IMP] website_event/saas~18.3: event menus rename/removed
  migrations/website_event/saas~18.3.1.4/pre-migrate.py
Due: no-license-comment

[FIX] {account,l10n_ro}_reports/saas~18.1: trial balance annotations
  migrations/account_reports/saas~18.1.1.0/post-migrate.py
  migrations/l10n_ro_reports/saas~18.1.1.0/post-migrate.py
Due: no-license-comment

[IMP] website/saas~18.3: standardize s_tabs options
  migrations/website/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] spreadsheet_edition/saas~18.3: drop missing sorted column
  migrations/spreadsheet_edition/saas~18.3.1.0/pre-migrate-pivot-sorted-column.py
  migrations/spreadsheet_edition/tests/__init__.py
  migrations/spreadsheet_edition/tests/test_missing_pivot_sorted_column.py
Due: no-license-comment, bad-import-000

[FIX] documents/saas~17.5.1.4: avoid replacing references if no folders
  migrations/documents/saas~17.5.1.4/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~18.3: remove unused res.partner fields
  migrations/account/saas~18.3.1.4/pre-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
  ruff.toml
Due: none

[FIX] mail/saas~16.3: remove extra comma
  migrations/mail/saas~16.3.1.13/pre-migrate.py
Due: no-license-comment

[chore] lint 17+ files
  migrations/base/saas~17.2.1.3/pre-30-demo-data.py
  migrations/base/saas~17.5.1.3/pre-10-modules.py
Due: no-license-comment

[IMP] tools/ci.sh
  tools/ci.sh
Due: none

[FIX] */16+: html_escape text injected into upgrade report
  migrations/account/16.0.1.2/pre-10-migrate-tax-reports.py
  migrations/base/saas~16.4.1.3/post-migrate.py
  migrations/delivery_sendcloud/saas~16.5.1.0/pre-migrate.py
Due: no-license-comment

[chore] */16.*: reformat all files
  migrations/account/saas~16.2.1.2/pre-migrate.py
  migrations/account_asset/saas~16.3.1.0/pre-migrate.py
  migrations/account_payment/saas~16.2.2.0/pre-migrate.py
  migrations/base/saas~16.5.1.3/pre-00-ir_act_server.py
  migrations/base_import/saas~16.1.1.7/pre-migrate.py
  migrations/crm_enterprise/16.0.1.0/pre-migrate.py
  migrations/delivery/16.0.1.0/post-zip-prefix.py
  migrations/delivery_sendcloud/saas~16.5.1.0/pre-migrate.py
  migrations/event_sale_dashboard/16.0.1.0/pre-migrate.py
  migrations/hr_contract_reports/16.0.1.0/pre-migrate.py
  migrations/hr_payroll/saas~16.5.1.0/end-migrate.py
  migrations/hr_payroll/saas~16.5.1.0/post-migrate.py
  migrations/hr_payroll_account/16.0.1.0/post-migrate.py
  migrations/hr_recruitment_reports/16.0.1.0/pre-migrate.py
  migrations/hr_referral/16.0.1.0/pre-migrate.py
  migrations/iap_extract/saas~16.2.1.0/end-migrate.py
  migrations/l10n_be_hr_contract_salary/16.0.1.0/pre-migrate.py
  migrations/l10n_de_reports/saas~16.1.1.1/pre-migrate.py
  migrations/l10n_eg/saas~16.2.1.0/pre-migrate.py
  migrations/l10n_es_edi_sii/saas~16.2.1.0/pre-migrate.py
  migrations/l10n_mx_edi_stock/saas~16.4.1.0/pre-migrate.py
  migrations/mail/saas~16.1.1.11/post-migrate.py
  migrations/mrp/saas~16.1.2.0/pre-migrate.py
  migrations/mrp_account_enterprise/16.0.1.0/pre-migrate.py
  migrations/onboarding/saas~16.4.1.2/pre-migrate.py
  migrations/payment_adyen/saas~16.5.2.0/pre-migrate.py
  migrations/project_todo/saas~16.3.1.0/pre-migrate.py
  migrations/sale/saas~16.2.1.2/post-migrate.py
  migrations/sale_enterprise/16.0.1.0/pre-migrate.py
  migrations/sale_subscription/saas~16.2.1.1/pre-migrate.py
  migrations/stock/16.0.1.1/post-migrate.py
  migrations/stock_account_enterprise/16.0.1.0/pre-migrate.py
  migrations/voip_onsip/16.0.1.0/pre-migrate.py
  migrations/website/saas~16.1.1.0/pre-migrate.py
  migrations/website_sale_picking/16.0.1.0/pre-migrate.py
Due: no-license-comment

[chore] lint all 16.* files
  migrations/account/16.0.1.2/pre-10-migrate-tax-reports.py
  migrations/account_accountant/16.0.1.1/pre-migrate.py
  migrations/account_accountant/saas~16.3.1.1/pre-migrate.py
  migrations/account_edi_ubl_cii/16.0.1.0/end-migrate.py
  migrations/base/16.0.1.3/pre-models-update-custom-fields.py
  migrations/base/saas~16.4.1.3/post-migrate.py
  migrations/base_automation/saas~16.5.1.0/pre-migrate.py
  migrations/crm/saas~16.3.1.8/pre-migrate.py
  migrations/delivery/16.0.1.0/post-zip-prefix.py
  migrations/digest/saas~16.3.1.1/pre-migrate.py
  migrations/event/saas~16.5.1.7/post-migrate.py
  migrations/hr_payroll/saas~16.5.1.0/end-migrate.py
  migrations/hr_payroll_account/16.0.1.0/pre-migrate.py
  migrations/l10n_be_hr_contract_salary/saas~16.2.1.0/pre-migrate.py
  migrations/l10n_be_hr_payroll/16.0.1.0/pre-dimona.py
  migrations/l10n_ke_edi_tremol/saas~16.4.1.0/post-migrate.py
  migrations/l10n_mx/saas~16.5.2.0/pre-migrate.py
  migrations/mail/16.0.1.10/end-migrate.py
  migrations/mail/saas~16.3.1.13/pre-migrate.py
  migrations/onboarding/saas~16.4.1.2/pre-migrate.py
  migrations/payment/16.0.2.0/pre-migrate.py
  migrations/payment_paypal/saas~16.2.2.0/pre-migrate.py
  migrations/payment_sepa_direct_debit/saas~16.4.2.0/pre-migrate.py
  migrations/pos_loyalty/16.0.1.0/pre-migrate.py
  migrations/purchase_requisition/16.0.0.1/post-remove-tender.py
  migrations/sale_management/saas~16.3.1.0/pre-migrate.py
  migrations/sale_renting/saas~16.5.1.0/end-migrate.py
  migrations/sale_subscription/saas~16.1.1.1/post-migrate.py
  migrations/sale_subscription/saas~16.5.1.1/post-migrate.py
  migrations/website/saas~16.2.1.0/end-all-pages-popup.py
Due: no-license-comment

[FIX] im_livechat/saas~16.5,{google,microsof}_calendar/saas~17.2
  migrations/google_calendar/saas~17.2.1.0/post-migrate.py
  migrations/im_livechat/saas~16.5.1.0/pre-migrate.py
  migrations/microsoft_calendar/saas~17.2.1.0/post-migrate.py
Due: no-license-comment

[ADD] semgrep: new rule to catch bad query formatting
  semgrep.yaml
Due: none

[FIX] hr_contract_sign/16.0: add missing comma
  migrations/hr_contract_sign/16.0.1.0/pre-migrate.py
Due: no-license-comment

[FIX] digest/saas~16.{3,4}
  migrations/digest/saas~16.3.1.1/post-migrate.py
  migrations/digest/saas~16.3.1.1/pre-migrate.py
  migrations/digest/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] hr_holidays/saas~18.3: remove unused fields
  migrations/hr_holidays/saas~18.3.1.6/pre-migrate.py
Due: no-license-comment

[ADD] l10n_lu_hr_payroll/saas~18.3: unambiguous record id
  migrations/l10n_lu_hr_payroll/saas~18.3.1.0/pre-migrate.py
Due: no-license-comment

[FIX] account_reports/saas~17.4: replace str groupby with dict
  migrations/account_reports/saas~17.4.1.0/pre-migrate.py
Due: no-license-comment
