Repository odoo/mail-client-extensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-license-comment, bad-import-000

no-license-comment:
  name: Forbid LICENSE comments
  language: pygrep
  entry: '^# .* LICENSE '

bad-import-000:
  name: Incompatible import with old versions in tests and `0.0.0` scripts
  language: pygrep
  entry: (from|import) odoo.upgrade\b

[IMP] hr_payroll/saas~16.3: use own model for payroll notes
  migrations/hr_payroll/saas~16.3.1.0/post-migrate.py
Due: no-license-comment

[IMP] {website_}appointment/saas~16.3: adapt fields to resources
  migrations/appointment/saas~16.3.1.3/pre-migrate.py
  migrations/website_appointment/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] point_of_sale/saas~16.3.1.0.1: remove check product wizard
  migrations/point_of_sale/saas~16.3.1.0.1/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~16.3: rename setting field `invoice_is_print`
  migrations/account/saas~16.3.1.2/pre-migrate.py
Due: no-license-comment

[FIX] sms/tests: ensure lang is installed
  migrations/sms/tests/test_jinja_to_qweb.py
Due: no-license-comment, bad-import-000

[IMP] (website_)event/saas~16.3: merge questions modules
  migrations/base/saas~16.3.1.3/pre-10-modules.py
  migrations/event/saas~16.3.1.7/post-compute.py
  migrations/event/saas~16.3.1.7/pre-migrate.py
  migrations/website_event/saas~16.3.1.4/pre-migrate.py
Due: no-license-comment

[IMP] onboarding,appointment/saas~16.3: update panel layout fields
  migrations/appointment/saas~16.3.1.3/post-migrate.py
  migrations/onboarding/saas~16.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] account,account_accountant/saas~16.3: remove of manual reco widget
  migrations/account/saas~16.3.1.2/pre-migrate.py
  migrations/account_accountant/saas~16.3.1.1/pre-migrate.py
Due: no-license-comment

[FIX] account/16.0.2.0: store xmlid of account_tax_report_line
  migrations/account/16.0.1.2/pre-migrate.py
  migrations/l10n_in/16.0.2.0/post-migration.py
Due: no-license-comment

[IMP] website_sale/saas~16.3: company to website setting
  migrations/website_sale/saas~16.2.1.1/pre-delivery.py
  migrations/website_sale/saas~16.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] sale_planning/saas~16.3: remove deleted view
  migrations/sale_planning/saas~16.3.1.0/post-migrate.py
  migrations/sale_planning/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] {payment,account_payment}/saas~16.3: remove unnecessary access rules
  migrations/account_payment/saas~16.3.2.0/pre-migrate.py
  migrations/payment/saas~16.3.2.0/pre-migrate.py
Due: no-license-comment

[FIX] mail/0.0.0: adapt script after model rename
  migrations/mail/0.0.0/pre-ensure-records.py
Due: no-license-comment, bad-import-000

[FIX] mrp/saas~16.3: override workcenter times when capacity is defined
  migrations/mrp/saas~16.3.2.0/pre-migrate.py
Due: no-license-comment

[IMP] account_reports/saas~16.3: conversion to owl
  migrations/account_asset/saas~16.3.1.0/pre-migrate.py
  migrations/account_consolidation/saas~16.3.1.0/pre-migrate.py
  migrations/account_disallowed_expenses/saas~16.3.1.0/pre-migrate.py
  migrations/account_disallowed_expenses_fleet/saas~16.3.1.0/pre-migrate.py
  migrations/account_followup/saas~16.3.1.0/pre-migrate.py
  migrations/account_intrastat/saas~16.3.1.0/pre-migrate.py
  migrations/account_reports/saas~16.3.1.0/pre-migrate.py
  migrations/account_reports_cash_basis/saas~16.3.1.0/pre-migrate.py
  migrations/l10n_ar_reports/saas~16.3.1.0/pre-migrate.py
  migrations/l10n_be_reports/saas~16.3.1.0/pre-migrate.py
  migrations/l10n_mx_reports_closing/saas~16.3.1.0/pre-migrate.py
Due: no-license-comment

[IMP] l10n_pe_edi_stock/saas~16.3: merge module l10n_pe_edi_stock_20
  migrations/base/saas~16.3.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] account/saas~14.4: remove test lock date
  migrations/account/tests/test_14_4_journal_methods.py
Due: no-license-comment, bad-import-000

[FIX] account/saas~14.4: account_payment test
  migrations/account/tests/test_14_4_journal_methods.py
Due: no-license-comment, bad-import-000

[ADD] base/0.0.0: optimize multi-company rules
  migrations/base/0.0.0/end-99-rules.py
  migrations/base/0.0.0/init-rules.py
Due: no-license-comment, bad-import-000

[IMP] {base,project_todo,note}/saas~16.3: replace Notes with To-do
  migrations/base/saas~16.3.1.3/pre-10-modules.py
  migrations/hr_payroll/saas~16.3.1.0/post-migrate.py
  migrations/hr_payroll/tests/__init__.py
  migrations/hr_payroll/tests/test_migrate_note_in_payroll_note.py
  migrations/note/tests/__init__.py
  migrations/note/tests/test_migrate_note_in_todo.py
  migrations/project/tests/__init__.py
  migrations/project/tests/test_migrate_note_in_todo.py
  migrations/project_todo/saas~16.3.1.0/end-migrate.py
  migrations/project_todo/saas~16.3.1.0/pre-migrate.py
  migrations/project_todo/tests/__init__.py
  migrations/project_todo/tests/test_migrate_note_in_todo.py
Due: no-license-comment, bad-import-000

[IMP] stock/saas~16.3: picking workflow refactoring
  migrations/stock/saas~16.3.1.1/pre-migrate.py
Due: no-license-comment

[IMP] account/saas~16.3: removing unused field
  migrations/account/saas~16.3.1.2/pre-migrate.py
Due: no-license-comment

[IMP] base_vat/saas~16.3: Remove VIES message field
  migrations/base_vat/saas~16.3.1.0/pre-migrate.py
  migrations/base_vat/tests/__init__.py
  migrations/base_vat/tests/test_vies_auto_assignment.py
Due: no-license-comment, bad-import-000

[FIX] account_asset/saas~12.3: rounding issue in UPGASSET
  migrations/account_asset/saas~12.3.1.0/pre-10-models.py
Due: no-license-comment

[IMP] l10n_in/saas~16.4: merge module
  migrations/base/saas~16.4.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] base_vat/tests: handle other CoA
  migrations/base_vat/tests/test_vies_auto_assignment.py
Due: no-license-comment, bad-import-000

[IMP] account_{accountant,asset}/saas~16.3.1.{1,0}: deferred management
  migrations/account_accountant/saas~16.3.1.1/post-migrate.py
  migrations/account_accountant/saas~16.3.1.1/pre-migrate.py
  migrations/account_asset/saas~16.3.1.0/pre-migrate.py
  migrations/account_asset/tests/__init__.py
  migrations/account_asset/tests/test_deferred_management_refactoring.py
  migrations/base/saas~16.3.1.3/pre-10-modules.py
  migrations/l10n_be_reports/saas~16.3.1.0/post-migrate.py
Due: no-license-comment, bad-import-000

[FIX] sale_subscription/saas~16.2: update cron code
  migrations/sale_subscription/saas~16.2.1.1/post-migrate.py
Due: no-license-comment

[IMP] stock/saas~16.4: remove route_ids and add new field route_id
  migrations/stock/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] analytic/16.0.1.1,account/16.0.1.2: transmit empty tag info
  migrations/account/16.0.1.2/pre-migrate.py
  migrations/account/tests/test_analytic_15_5.py
  migrations/analytic/16.0.1.1/pre-migrate.py
Due: no-license-comment, bad-import-000

[IMP] util.rename_model: update indirect references in //
  migrations/util/models.py
Due: no-license-comment

[IMP] stock/saas~16.4.1.1: allow scrapping of kits
  migrations/stock/saas~16.4.1.1/pre-migrate.py
Due: no-license-comment

[FIX] account_asset/16.0: inversion account deferred revenue
  migrations/account_asset/16.0.1.0/pre-migrate.py
Due: no-license-comment

[chore] pre-commit autoupdate
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[FIX] base/saas~16.2: install new module only when needed
  migrations/base/saas~16.2.1.3/pre-10-modules.py
Due: no-license-comment

[FIX] hr_payroll_account/saas~16.2: delete unused
  migrations/hr_payroll_account/saas~16.2.1.0/pre-migrate.py
Due: no-license-comment

[IMP] website_customer/saas~16.4: update classname
  migrations/website_customer/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[IMP] hr_payroll/saas~16.4: Improve salary attachments
  migrations/hr_payroll/saas~16.4.1.0/post-migrate.py
  migrations/hr_payroll/saas~16.4.1.0/pre-migrate.py
Due: no-license-comment

[FIX] website/saas~16.2: update views translations in chunks
  migrations/website/saas~16.2.1.0/end-all-pages-popup.py
Due: no-license-comment

[IMP] documents/saas~16.4: force all URLs to be valid
  migrations/documents/saas~16.4.1.3/pre-migrate.py
Due: no-license-comment

Path conditions:
  no-license-comment: any of: \.py$
  bad-import-000: any of: ^migrations/\w+/(tests|0\.0\.0)/.*\.py$
